In [1]:
import pdfplumber
import pprint
import os
import re
import csv
import pandas as pd
from pathlib import Path

In [2]:
# Setting directory
dbs_source_dir = Path("/Users/jeromeko/Desktop/2020_Bank_Statements/DBS")
uob_source_dir = Path("/Users/jeromeko/Desktop/2020_Bank_Statements/UOB")
dbs_pdf_file = "DBS_202012.pdf"
uob_pdf_file = "UOB_202008.pdf"
dest_csv = Path("/Users/jeromeko/Desktop/2020_Bank_Statements")

# Processing DBS first page

In [3]:
# Reads PDF's first page and extracts all txns after specified header (impt that it's fixed throughout all PDFs)
with pdfplumber.open(dbs_source_dir / dbs_pdf_file) as pdf:
    first_page = pdf.pages[0]
    first_page_text = first_page.extract_text()
    first_page_txns_raw = first_page_text.partition("NEW TRANSACTIONS JEROME KO JIA JIN")[2]
    print(first_page_txns_raw)

 R
o.
12 NOV LAZADA SINGAPORE (PAYM              13.39 C
13 NOV GRAB* BF5684F0017318B3              40.00
15 NOV FAIRPRICE XTRA-AMK              26.00
15 NOV AMAZON SG             177.03
15 NOV STARBUCKS@AMK HUB(AMK)              10.43
15 NOV AMAZON SG             134.59
16 NOV UNIQLO CITY SQUARE              67.70
16 NOV DECATHLON SG LAB              66.00
16 NOV BANANA LEAF              55.30
20 NOV ZaloraSG              19.51CR
20 NOV TENDON KOHAKU              35.31
20 NOV GRAB* S-26872624-8-462              11.00
20 NOV MCDONALD'S (HG)               3.20
20 NOV MCDONALD'S (HG)              20.15
22 NOV MCDONALD'S (SHHG)               7.20
23 NOV NTUC FP-HOUGANG A              11.65
23 NOV ESSO-CHEERS BY FP              45.00
27 NOV ZALORASG              95.73
27 NOV LAZADA SINGAPORE              55.20
27 NOV OMOTE              76.03
27 NOV SHOPEE - SINGAPORE               3.84
27 NOV SHOPEE SINGAPORE               4.25
28 NOV GRAB* A96461585C435436              10.00

In [4]:
# Looks at whitespace characters in text
print(repr(first_page_txns_raw))

" R\no. \n12 NOV LAZADA SINGAPORE (PAYM              13.39 C\n13 NOV GRAB* BF5684F0017318B3              40.00\n15 NOV FAIRPRICE XTRA-AMK              26.00\n15 NOV AMAZON SG             177.03\n15 NOV STARBUCKS@AMK HUB(AMK)              10.43\n15 NOV AMAZON SG             134.59\n16 NOV UNIQLO CITY SQUARE              67.70\n16 NOV DECATHLON SG LAB              66.00\n16 NOV BANANA LEAF              55.30\n20 NOV ZaloraSG              19.51CR\n20 NOV TENDON KOHAKU              35.31\n20 NOV GRAB* S-26872624-8-462              11.00\n20 NOV MCDONALD'S (HG)               3.20\n20 NOV MCDONALD'S (HG)              20.15\n22 NOV MCDONALD'S (SHHG)               7.20\n23 NOV NTUC FP-HOUGANG A              11.65\n23 NOV ESSO-CHEERS BY FP              45.00\n27 NOV ZALORASG              95.73\n27 NOV LAZADA SINGAPORE              55.20\n27 NOV OMOTE              76.03\n27 NOV SHOPEE - SINGAPORE               3.84\n27 NOV SHOPEE SINGAPORE               4.25\n28 NOV GRAB* A96461585C435436              10.00"

In [5]:
# Split by new lines
first_page_txns_raw_nl = first_page_txns_raw.split("\n")
pprint.pprint(first_page_txns_raw_nl)

[' R',
 'o. ',
 '12 NOV LAZADA SINGAPORE (PAYM              13.39 C',
 '13 NOV GRAB* BF5684F0017318B3              40.00',
 '15 NOV FAIRPRICE XTRA-AMK              26.00',
 '15 NOV AMAZON SG             177.03',
 '15 NOV STARBUCKS@AMK HUB(AMK)              10.43',
 '15 NOV AMAZON SG             134.59',
 '16 NOV UNIQLO CITY SQUARE              67.70',
 '16 NOV DECATHLON SG LAB              66.00',
 '16 NOV BANANA LEAF              55.30',
 '20 NOV ZaloraSG              19.51CR',
 '20 NOV TENDON KOHAKU              35.31',
 '20 NOV GRAB* S-26872624-8-462              11.00',
 "20 NOV MCDONALD'S (HG)               3.20",
 "20 NOV MCDONALD'S (HG)              20.15",
 "22 NOV MCDONALD'S (SHHG)               7.20",
 '23 NOV NTUC FP-HOUGANG A              11.65',
 '23 NOV ESSO-CHEERS BY FP              45.00',
 '27 NOV ZALORASG              95.73',
 '27 NOV LAZADA SINGAPORE              55.20',
 '27 NOV OMOTE              76.03',
 '27 NOV SHOPEE - SINGAPORE               3.84',
 '27 NOV SHOPEE SINGAPORE               4.25',
 '28 NOV GRAB* A96461585C435436              10.00']

In [6]:
print(repr(first_page_txns_raw_nl))

[' R', 'o. ', '12 NOV LAZADA SINGAPORE (PAYM              13.39 C', '13 NOV GRAB* BF5684F0017318B3              40.00', '15 NOV FAIRPRICE XTRA-AMK              26.00', '15 NOV AMAZON SG             177.03', '15 NOV STARBUCKS@AMK HUB(AMK)              10.43', '15 NOV AMAZON SG             134.59', '16 NOV UNIQLO CITY SQUARE              67.70', '16 NOV DECATHLON SG LAB              66.00', '16 NOV BANANA LEAF              55.30', '20 NOV ZaloraSG              19.51CR', '20 NOV TENDON KOHAKU              35.31', '20 NOV GRAB* S-26872624-8-462              11.00', "20 NOV MCDONALD'S (HG)               3.20", "20 NOV MCDONALD'S (HG)              20.15", "22 NOV MCDONALD'S (SHHG)               7.20", '23 NOV NTUC FP-HOUGANG A              11.65', '23 NOV ESSO-CHEERS BY FP              45.00', '27 NOV ZALORASG              95.73', '27 NOV LAZADA SINGAPORE              55.20', '27 NOV OMOTE              76.03', '27 NOV SHOPEE - SINGAPORE               3.84', '27 NOV SHOPEE SINGAPORE               4.25', '28 NOV GRAB* A96461585C435436              10.00']

In [7]:
# Further split according to spaces
first_page_txns_raw_categorized = [txn.split() for txn in first_page_txns_raw_nl]
pprint.pprint(first_page_txns_raw_categorized)

[['R'],
 ['o.'],
 ['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39', 'C'],
 ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
 ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
 ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
 ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
 ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
 ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
 ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
 ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
 ['20', 'NOV', 'ZaloraSG', '19.51CR'],
 ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
 ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
 ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
 ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
 ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
 ['27', 'NOV', 'ZALORASG', '95.73'],
 ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
 ['27', 'NOV', 'OMOTE', '76.03'],
 ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
 ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
 ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']]

In [8]:
[txn for txn in first_page_txns_raw_categorized if len(txn) >= 4]

[['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39', 'C'],
 ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
 ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
 ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
 ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
 ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
 ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
 ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
 ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
 ['20', 'NOV', 'ZaloraSG', '19.51CR'],
 ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
 ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
 ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
 ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
 ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
 ['27', 'NOV', 'ZALORASG', '95.73'],
 ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
 ['27', 'NOV', 'OMOTE', '76.03'],
 ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
 ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
 ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']]

## Create a func that does the following

Returns true if a page contains sub-total, False otherwise.
   - Don't have to process subsequent pages if previous page already contains sub-total.

In [9]:
# sub_total_regex = re.compile("SUB.TOTAL")

# def contains_sub_total(page):
#     if sub_total_regex.search(page):
#         return True
        
#     else:
#         return False
    
sub_total_regex = re.compile("SUB.TOTAL")

def contains_sub_total(page):
    if sub_total_regex.search(page):
        return True, sub_total_regex.search(page).group()
        
    else:
        return False, None

## Create another func that does the following

1. Splits string according to new lines and spaces so we can eventually load them easily into different date, txn desc, amt columns
2. Returns legitimate txns (defined as txns with dates and amt) in a new list

In [10]:
def filter_legitimate_txns(txns):
    txns_split = txns.split("\n")
    txns_split_no_ref = [txn for txn in txns_split if "Ref No." not in txn]  # to cater for UOB txns
    txns_double_split = [txn.split() for txn in txns_split_no_ref]
    
    return [txn for txn in txns_double_split if len(txn) >= 4] # Length of at least 4 (for dates, txn desc and amt)

In [11]:
first_page_legit_txns = filter_legitimate_txns(first_page_txns_raw)
first_page_legit_txns

[['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39', 'C'],
 ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
 ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
 ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
 ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
 ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
 ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
 ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
 ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
 ['20', 'NOV', 'ZaloraSG', '19.51CR'],
 ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
 ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
 ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
 ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
 ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
 ['27', 'NOV', 'ZALORASG', '95.73'],
 ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
 ['27', 'NOV', 'OMOTE', '76.03'],
 ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
 ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
 ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']]

In [12]:
print(len(first_page_legit_txns))

23

## Create another func that does the following

Reads last item in each list and does the following in a loop:
   1. Checks and keeps if numeric and contains CR, converting amt to positive
   2. If not above, then delete last item before iterating over to previous and checks 1 again

In [13]:
def process_txn_amt(txns):
    for txn in txns:
        while not txn[-1].replace(".","",1).replace(",","",1).isdigit() and not "CR" in txn[-1]:  
            txn.pop(-1)  # remove if last item in each txn is not an amt
    
        if "CR" in txn[-1]:  # if amt contains CR
            txn[-1] = txn[-1].replace("CR","",1)  # remove CR
            txn[-1] = "-" + txn[-1]  # reverse sign
            
    return txns

In [14]:
first_page_legit_txns_processed = process_txn_amt(first_page_legit_txns)
first_page_legit_txns_processed

[['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39'],
 ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
 ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
 ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
 ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
 ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
 ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
 ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
 ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
 ['20', 'NOV', 'ZaloraSG', '-19.51'],
 ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
 ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
 ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
 ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
 ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
 ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
 ['27', 'NOV', 'ZALORASG', '95.73'],
 ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
 ['27', 'NOV', 'OMOTE', '76.03'],
 ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
 ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
 ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']]

# Processing DBS second page

In [15]:
# Reads PDF's second page and extracts all txns after specified header
with pdfplumber.open(dbs_source_dir / dbs_pdf_file) as pdf:
    second_page = pdf.pages[1]
    second_page_text = second_page.extract_text()
    second_page_txns_raw_w_footnote = second_page_text.partition("2 of 3")[2]
    
    second_page_txns_raw = second_page_txns_raw_w_footnote.partition("SUB-TOTAL")[0]
    pprint.pprint(second_page_txns_raw)

('\n'
 '29 NOV SPC 1351 ANG MO KIO AV               8.50\n'
 '01 DEC GRAB* AD19385300C29104              10.00\n'
 '02 DEC WOK HEY - CHINATOWN PO               6.80\n'
 '03 DEC RAFFLES MEDICAL-HOUGAN              27.20\n'
 '04 DEC GRUB              58.85\n'
 '05 DEC FAIRPRICE XTRA-AMK              59.65\n'
 '07 DEC NTUC FP-HOUGANG A              12.20\n'
 '11 DEC GRAB* AD3DC9087F1FC0D3              10.00\n'
 '11 DEC GRAB* 8BCF36C0940DD88F              10.00\n'
 "12 DEC WATSON'S               1.60\n"
 '12 DEC CIRCL FOOD & BEVERAGE              97.37\n'
 '14 DEC 01LAZADA-DBS ONLINE IPP 06 (03)             153.16\n')

In [16]:
second_page_legit_txns = filter_legitimate_txns(second_page_txns_raw)
second_page_legit_txns

[['29', 'NOV', 'SPC', '1351', 'ANG', 'MO', 'KIO', 'AV', '8.50'],
 ['01', 'DEC', 'GRAB*', 'AD19385300C29104', '10.00'],
 ['02', 'DEC', 'WOK', 'HEY', '-', 'CHINATOWN', 'PO', '6.80'],
 ['03', 'DEC', 'RAFFLES', 'MEDICAL-HOUGAN', '27.20'],
 ['04', 'DEC', 'GRUB', '58.85'],
 ['05', 'DEC', 'FAIRPRICE', 'XTRA-AMK', '59.65'],
 ['07', 'DEC', 'NTUC', 'FP-HOUGANG', 'A', '12.20'],
 ['11', 'DEC', 'GRAB*', 'AD3DC9087F1FC0D3', '10.00'],
 ['11', 'DEC', 'GRAB*', '8BCF36C0940DD88F', '10.00'],
 ['12', 'DEC', "WATSON'S", '1.60'],
 ['12', 'DEC', 'CIRCL', 'FOOD', '&', 'BEVERAGE', '97.37'],
 ['14', 'DEC', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(03)', '153.16']]

In [17]:
process_txn_amt(second_page_legit_txns)

[['29', 'NOV', 'SPC', '1351', 'ANG', 'MO', 'KIO', 'AV', '8.50'],
 ['01', 'DEC', 'GRAB*', 'AD19385300C29104', '10.00'],
 ['02', 'DEC', 'WOK', 'HEY', '-', 'CHINATOWN', 'PO', '6.80'],
 ['03', 'DEC', 'RAFFLES', 'MEDICAL-HOUGAN', '27.20'],
 ['04', 'DEC', 'GRUB', '58.85'],
 ['05', 'DEC', 'FAIRPRICE', 'XTRA-AMK', '59.65'],
 ['07', 'DEC', 'NTUC', 'FP-HOUGANG', 'A', '12.20'],
 ['11', 'DEC', 'GRAB*', 'AD3DC9087F1FC0D3', '10.00'],
 ['11', 'DEC', 'GRAB*', '8BCF36C0940DD88F', '10.00'],
 ['12', 'DEC', "WATSON'S", '1.60'],
 ['12', 'DEC', 'CIRCL', 'FOOD', '&', 'BEVERAGE', '97.37'],
 ['14', 'DEC', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(03)', '153.16']]

# Putting it all together

Perform a loop that does the following:
1. Checks if page contains sub-total, as it indicates end of transactional list.
2. Extracts all transactions
3. If current page contains sub-total, do not process subsequent pages.
4. Otherwise, perform steps 1-3 again.

In [18]:
all_txns = []

In [19]:
def txn_trimming(page_text, s):
    txns_raw = page_text.partition(s)[2]
    
    sub_total_bool, sub_total_content = contains_sub_total(txns_raw)
    
    if sub_total_bool:
        return txns_raw.partition(sub_total_content)[0]
        
    else:  # if statement is UOB
        return txns_raw.partition("Pleasenote")[0]  # doesn't matter if statement is DBS as result is the same

In [20]:
with pdfplumber.open(dbs_source_dir / dbs_pdf_file) as pdf:
    for i in range(2):  # txns only extend up to 2nd page
            page_text = pdf.pages[i].extract_text()
            sub_total_bool, sub_total_content = contains_sub_total(pdf.pages[0].extract_text())
        
            if i == 0:
                txns_raw = txn_trimming(page_text, "NEW TRANSACTIONS JEROME KO JIA JIN")   
                all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))
        
            elif i == 1 and not sub_total_bool:  # if txns extend to 2nd page
                txns_raw = txn_trimming(page_text, "2 of 3")
                all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))

In [21]:
all_txns

[[['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39'],
  ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
  ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
  ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
  ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
  ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
  ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
  ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
  ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
  ['20', 'NOV', 'ZaloraSG', '-19.51'],
  ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
  ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
  ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
  ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
  ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
  ['27', 'NOV', 'ZALORASG', '95.73'],
  ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
  ['27', 'NOV', 'OMOTE', '76.03'],
  ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
  ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
  ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']],
 [['29', 'NOV', 'SPC', '1351', 'ANG', 'MO', 'KIO', 'AV', '8.50'],
  ['01', 'DEC', 'GRAB*', 'AD19385300C29104', '10.00'],
  ['02', 'DEC', 'WOK', 'HEY', '-', 'CHINATOWN', 'PO', '6.80'],
  ['03', 'DEC', 'RAFFLES', 'MEDICAL-HOUGAN', '27.20'],
  ['04', 'DEC', 'GRUB', '58.85'],
  ['05', 'DEC', 'FAIRPRICE', 'XTRA-AMK', '59.65'],
  ['07', 'DEC', 'NTUC', 'FP-HOUGANG', 'A', '12.20'],
  ['11', 'DEC', 'GRAB*', 'AD3DC9087F1FC0D3', '10.00'],
  ['11', 'DEC', 'GRAB*', '8BCF36C0940DD88F', '10.00'],
  ['12', 'DEC', "WATSON'S", '1.60'],
  ['12', 'DEC', 'CIRCL', 'FOOD', '&', 'BEVERAGE', '97.37'],
  ['14', 'DEC', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(03)', '153.16']]]

In [22]:
dbs_all_txns = []

# Inserting all PDFs
for folder, subfolder, pdf_files in os.walk(dbs_source_dir):
    for pdf_file in pdf_files:

        with pdfplumber.open(dbs_source_dir / pdf_file) as pdf:
            for i in range(2):  # txns only extend up to 2nd page
                    page_text = pdf.pages[i].extract_text()
                    sub_total_bool, sub_total_content = contains_sub_total(pdf.pages[0].extract_text())

                    if i == 0:
                        txns_raw = txn_trimming(page_text, "NEW TRANSACTIONS JEROME KO JIA JIN")
                        dbs_all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))

                    elif i == 1 and not sub_total_bool:  # if txns extend to 2nd page
                        txns_raw = txn_trimming(page_text, "2 of 3")
                        dbs_all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))

In [23]:
dbs_all_txns

[[['13', 'AUG', 'SHOPEE', '-', 'SINGAPORE', '5.68'],
  ['14', 'AUG', 'ISTANBLUE', 'MEZE', '-', 'MM', '26.30'],
  ['14', 'AUG', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['20', 'AUG', 'GRAB*8C6FE4E51A3D05ACE', '20.00'],
  ['21', 'AUG', 'SHOPEE', 'SINGAPORE', '8.50'],
  ['22', 'AUG', 'GRAB*11FCC478E9A6B9708', '20.00'],
  ['25', 'AUG', 'SHAW', 'THEATRES', 'PL', 'SHAW.', '28.50'],
  ['26', 'AUG', 'GRAB*DFCA24F43BB5783AE', '20.00'],
  ['26', 'AUG', 'THE', 'DAILY', 'CUT', '-', 'ORP', '9.00'],
  ['26', 'AUG', 'STBILL', '254.32'],
  ['28', 'AUG', 'JEWEL', 'CHANGI', 'AIRPORT', '13.50'],
  ['29', 'AUG', 'AN', 'ACAI', 'AFFAIR', '-', 'JEWEL', '9.50'],
  ['30', 'AUG', 'MDM', 'LING', 'B*', 'MDMLINGBAK', '47.40'],
  ['30', 'AUG', 'SHOPEEPAY', '8.00'],
  ['01', 'SEP', 'SHOPEEPAY', '-8.00'],
  ['02', 'SEP', 'HANBAOBAO', 'PTE.', 'LTD.', '49.80'],
  ['04', 'SEP', 'KREAM', 'BEER', '42.37'],
  ['04', 'SEP', 'MUCHACHOS', '-', 'FRASERS', '34.50'],
  ['05', 'SEP', 'BAKERY', '&', 'BAR', 'ST', 'MARC', '25.41'],
  ['08', 'SEP', 'SWEE', 'HENG', 'BAKERY-CL7', '1.50'],
  ['09', 'SEP', 'SWEE', 'HENG', 'BAKERY-CL7', '1.80'],
  ['10', 'SEP', 'YARDBIRD', '140.06'],
  ['12', 'SEP', 'FINEST', 'FUNAN', '2.00']],
 [],
 [['15', 'JUL', 'GRAB*487A744E79FC5A74C', '50.00'],
  ['15', 'JUL', 'GV', 'DBO', '25.00'],
  ['17', 'JUL', 'SHOPEE', '-', 'SINGAPORE', '12.49'],
  ['21', 'JUL', 'GRAB*F434B4F4AB82070D4', '30.00'],
  ['26', 'JUL', 'GET', 'IT', 'BY', 'CHANGI', 'RECOM', '55.99'],
  ['30', 'JUL', 'GRAB*6BA2D47E3AB10455A', '30.00'],
  ['31', 'JUL', 'PIEDRA', 'NEGRA', '48.02'],
  ['01', 'AUG', 'THE', 'BEAN', 'HOPPERS', 'PTE', 'L', '13.90'],
  ['02', 'AUG', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['03', 'AUG', 'GRAB*C52CB4F628AEF8A5F', '10.00'],
  ['08', 'AUG', 'GRAB*00F314201B0CDD4D8', '20.00'],
  ['08', 'AUG', 'GRAB*8BC7D45DA94823FAF', '10.00'],
  ['09', 'AUG', 'GRAB*DDDED4EDD9E4DB08F', '20.00'],
  ['10', 'AUG', 'SHOPEE', '-', 'SINGAPORE', '13.39'],
  ['10', 'AUG', 'SHOPEE', 'SINGAPORE', '8.50'],
  ['11', 'AUG', 'ZUI', 'HONG', 'LOU', '204.80'],
  ['11', 'AUG', 'NTUC', 'FP', '-', 'CHINATOWN', 'PT', '21.65'],
  ['13', 'AUG', 'GRAB*7D19E41468B2D658B', '10.00']],
 [['05', 'JAN', 'FLYSCOOT.S8DRQM_234118', '-448.94'],
  ['17', 'FEB', 'GRAB', '*835550A013D14DAE', '20.00'],
  ['18', 'FEB', 'GRAB', '*F280525E49D84DCC', '10.00'],
  ['18', 'FEB', 'GRAB', '*D358B7FFA08F4AC7', '10.00'],
  ['21', 'FEB', 'GRAB', '*8E17D641D11F43C9', '50.00'],
  ['22', 'FEB', 'THE', 'TINSEL', 'RACK', '(EC)', '34.40'],
  ['22', 'FEB', 'SP', '*', 'THE', 'SUNDAY', 'AVENUE', '40.00'],
  ['22', 'FEB', 'GRAB', '*3206DFDE3C0141A6', '10.00'],
  ['26', 'FEB', 'GRAB', '*4C22A08C1B7644BF', '10.00'],
  ['27', 'FEB', 'LAZADA', 'SINGAPORE', '15.39'],
  ['02', 'MAR', 'GRAB', '*FAC83A8B5ED34215', '10.00'],
  ['05', 'MAR', 'GRAB', '*CDF76E68D8214709', '20.00'],
  ['06', 'MAR', 'GRAB', '*55FB7E361AC34C9E', '10.00'],
  ['08', 'MAR', 'AGODA.COM', '178.24'],
  ['11', 'MAR', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'MAR', 'GRAB', '*68A7E02A72504F85', '10.00'],
  ['12', 'MAR', 'SHOPEE', '-', 'SINGAPORE', '1,600.00'],
  ['12', 'MAR', 'SHOPEE', '-', 'SINGAPORE', '76.78']],
 [['14', 'JAN', 'HANBAOBAO', 'PTE.', 'LTD.', '52.80'],
  ['18', 'JAN', 'GRAB', '*FF1841FBB9CA496D', '10.00'],
  ['18', 'JAN', 'GRAB', '*071497B40C8D4AE5', '10.00'],
  ['19', 'JAN', 'GRAB', '*C15209FD14474E26', '10.00'],
  ['20', 'JAN', 'GRAB', '*D95D9F791CB44B8E', '60.00'],
  ['24', 'JAN', 'GRAB', '*4CF8DBF1CE8243ED', '20.00'],
  ['05', 'FEB', 'ECONOMIST', 'SUBSCRIPTION', 'WWW', 'GB', '257.55'],
  ['07', 'FEB', 'GRAB', '*55C4E732D4A2424C', '10.00'],
  ['10', 'FEB', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'FEB', 'GRAB', '*4E84D87A0E924F93', '10.00']],
 [['16', 'DEC', 'GRAB', '*04E7DF7B3B0D4A50', '10.00'],
  ['18', 'DEC', 'ZaloraSG', '-24.27'],
  ['18', 'DEC', 'ZaloraSG', '-53.54'],
  ['18', 'DEC', 'GRAB', '*CC11E60772F843D7', '10.00'],
  ['19', 'DEC', 'GRAB', '*2687262420027021', '20.00'],
  ['21', 'DEC', 'GRAB', '*E2CCAC9A01004AD2', '10.00'],
  ['23', 'DEC', 'GRAB', '*881F3DC4A0D0471E', '20.00'],
  ['24', 'DEC', 'GRAB', '*B98D7DFBE7594ECB', '10.00'],
  ['24', 'DEC', 'GRAB', '*4D6B78401DCD406D', '10.00'],
  ['24', 'DEC', 'GRAB', '*A72041A9F37F4C93', '10.00'],
  ['26', 'DEC', 'GRAB', '*B7AD0B7C12BE4BE5', '10.00'],
  ['28', 'DEC', 'GRAB', '*597626A303534816', '10.00'],
  ['29', 'DEC', 'GRAB', '*33B6D89A12D74A5C', '30.00'],
  ['31', 'DEC', 'GRAB', '*84362D7168954BF4', '138.00'],
  ['31', 'DEC', 'GRAB', '*5C19F9AB02C343E8', '40.00'],
  ['05', 'JAN', 'FLYSCOOT.00000000S8DRQ', '448.94'],
  ['09', 'JAN', 'RELC', 'EB', '(CEA)', '417.30'],
  ['10', 'JAN', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'JAN', 'ANNUAL', 'FEE', '180.00'],
  ['13', 'JAN', 'GST', '@', '7%', '12.60']],
 [['15', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '4.65'],
  ['16', 'OCT', 'SHAKE', 'SHACK-NEIL', 'RD', '42.10'],
  ['20', 'OCT', 'TENDON', 'KOHAKU', '17.66'],
  ['22', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '5.90'],
  ['23', 'OCT', 'THE', 'COFFEE', 'BEAN-CAM', '8.20'],
  ['23', 'OCT', 'AZMAYA', '98.40'],
  ['24', 'OCT', 'JANNPAUL', '500.00'],
  ['25', 'OCT', 'FAIRPRICE', 'XTRA-AMK', '24.00'],
  ['25', 'OCT', 'GRAB*', 'ACF54A4729CCF28A', '10.00'],
  ['30', 'OCT', 'BURGER', '&', 'LOBSTER', '91.81'],
  ['30', 'OCT', 'NATURELAND', 'ORCHARD', 'POI', '203.30'],
  ['30', 'OCT', 'FAMOUS', 'AMOS', '-', 'WISMA', 'AT', '11.70'],
  ['30', 'OCT', 'GATHER', '61.20'],
  ['30', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '37.99'],
  ['31', 'OCT', 'DECATHLON', 'CENTREPOINT', '60.00'],
  ['31', 'OCT', 'THE', 'COFFEE', 'BEAN-WISMA', '7.50'],
  ['02', 'NOV', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['02', 'NOV', 'TESS', 'BAR', '&', 'KITCHEN', '216.57'],
  ['06', 'NOV', 'GRAB*', 'A5CDB4F0B4086951', '10.00'],
  ['06', 'NOV', 'LADY', 'WU', '66.80'],
  ['07', 'NOV', 'BTV', 'GROUP', 'PTE', 'LTD', '-', 'NA', '98.10'],
  ['09', 'NOV', 'UNIQLO', 'SINGAPORE', '244.20'],
  ['09', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '5.40']],
 [['09', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '2.00'],
  ['09', 'NOV', 'GHBASS', 'VIA', 'FEDEX', '120-368-3489', 'FL', '126.38'],
  ['11', 'NOV', 'ZALORASG', '61.31'],
  ['11', 'NOV', 'WWW.ASOS.COM', '02077561000', 'GB', '66.45'],
  ['13', 'NOV', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(02)', '153.16']],
 [['13', 'APR', 'SHOPEE', '-', 'SINGAPORE', '23.88'],
  ['16', 'APR', 'GRAB', '*B43608E16EE04E56', '20.00'],
  ['16', 'APR', 'SHOPEE', '-', 'SINGAPORE', '31.88'],
  ['18', 'APR', 'SHOPEE', '-', 'SINGAPORE', '11.68'],
  ['20', 'APR', 'GRAB', '*CA879A25577B453B', '50.00'],
  ['21', 'APR', 'GRAB', '*6FD4FFBDB7194F3C', '50.00'],
  ['21', 'APR', 'GRAB', '*075883E65135474B', '20.00'],
  ['22', 'APR', 'GRAB', '*F41BF5A1A08C4517', '20.00'],
  ['23', 'APR', 'GRAB', '*42896BDC318046CE', '30.00'],
  ['26', 'APR', 'SHOPEE', '-', 'SINGAPORE', '4.00'],
  ['28', 'APR', 'SHOPEE', '-', 'SINGAPORE', '3.00'],
  ['29', 'APR', 'GRAB', '*AD0F7112DC434D3F', '30.00'],
  ['03', 'MAY', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['03', 'MAY', 'GRAB', '*C834F57167B84C26', '50.00'],
  ['06', 'MAY', 'SHOPEE', '-', 'SINGAPORE', '26.39'],
  ['09', 'MAY', 'SHOPEE', '-', 'SINGAPORE', '5.50'],
  ['11', 'MAY', 'GRAB', '*541D4DB3EDF846EA', '100.00']],
 [['14', 'MAR', 'GRAB', '*CDDA8906867F4617', '50.00'],
  ['18', 'MAR', 'GRAB', '*C1DBB01A3F4A451F', '40.00'],
  ['18', 'MAR', 'RELC', 'EB', '(CEA)', '-417.30'],
  ['24', 'MAR', 'GRAB', '*6AD2E1B59BD640E2', '50.00'],
  ['30', 'MAR', 'GRAB', '*B6491104E73A4F56', '20.00'],
  ['01', 'APR', 'GRAB', '*70A771113E6A4AE6', '10.00'],
  ['02', 'APR', 'GRAB', '*F5F2204FF85043DF', '50.00'],
  ['02', 'APR', 'AGODA.COM', '-178.24'],
  ['05', 'APR', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['06', 'APR', 'GRAB', '*76D6C076D9884E34', '30.00'],
  ['07', 'APR', 'SHOPEE', '-', 'SINGAPORE', '2.65'],
  ['09', 'APR', 'SHOPEE', '-', 'SINGAPORE', '12.40'],
  ['09', 'APR', 'SHOPEE', '-', 'SINGAPORE', '14.90']],
 [['18', 'SEP', 'AJIYA', 'OKONOMIYAKI', 'REST', '56.76'],
  ['19', 'SEP', 'TIPO', '44.75'],
  ['20', 'SEP', 'LAZADA', 'SINGAPORE', '10.00'],
  ['20', 'SEP', 'SHOPEE', '-', 'SINGAPORE', '19.43'],
  ['20', 'SEP', 'FAIRPRICE', 'XTRA-NEX', 'MAL', '3.80'],
  ['21', 'SEP', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['24', 'SEP', 'MAD', 'FOR', 'GARLIC-SUNTEC', '66.35'],
  ['24', 'SEP', 'ROUTE', '65', '75.40'],
  ['26', 'SEP', 'THE', 'FULLERTON', 'BAY', 'HOTE', '110.05'],
  ['27', 'SEP', 'TEXAS', 'CHICKEN', 'NEX', '13.30'],
  ['03', 'OCT', 'OMOTE', '57.20'],
  ['06', 'OCT', 'GRAB*', '8522A41C02D9EFF8', '10.00'],
  ['06', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '13.95'],
  ['07', 'OCT', 'GUARDIAN', 'RAFFLES', 'PL', 'MR', '14.90'],
  ['10', 'OCT', 'POPEYES', '-', 'AMK', '11.80'],
  ['10', 'OCT', 'FAIRPRICE', 'XTRA-AMK', '22.45'],
  ['12', 'OCT', 'COLD', 'STORAGE', 'HOUGANG', '11.00'],
  ['14', 'OCT', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(01)', '153.16']],
 [['20', 'MAY', 'GRAB', '*DADA0FDDA2C34AF6', '70.00'],
  ['26', 'MAY', 'SHOPEEPAY', '25.50'],
  ['27', 'MAY', 'APPLE', 'ONLINE', 'STORE', '-', 'S', '1,884.00'],
  ['28', 'MAY', 'BEST', 'DENKI', 'SINGAPORE', 'P', '2,598.00'],
  ['02', 'JUN', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['08', 'JUN', 'GRAB', '*C8A0434CD9AC43ED', '20.00']],
 [['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39'],
  ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
  ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
  ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
  ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
  ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
  ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
  ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
  ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
  ['20', 'NOV', 'ZaloraSG', '-19.51'],
  ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
  ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
  ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
  ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
  ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
  ['27', 'NOV', 'ZALORASG', '95.73'],
  ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
  ['27', 'NOV', 'OMOTE', '76.03'],
  ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
  ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
  ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']],
 [['29', 'NOV', 'SPC', '1351', 'ANG', 'MO', 'KIO', 'AV', '8.50'],
  ['01', 'DEC', 'GRAB*', 'AD19385300C29104', '10.00'],
  ['02', 'DEC', 'WOK', 'HEY', '-', 'CHINATOWN', 'PO', '6.80'],
  ['03', 'DEC', 'RAFFLES', 'MEDICAL-HOUGAN', '27.20'],
  ['04', 'DEC', 'GRUB', '58.85'],
  ['05', 'DEC', 'FAIRPRICE', 'XTRA-AMK', '59.65'],
  ['07', 'DEC', 'NTUC', 'FP-HOUGANG', 'A', '12.20'],
  ['11', 'DEC', 'GRAB*', 'AD3DC9087F1FC0D3', '10.00'],
  ['11', 'DEC', 'GRAB*', '8BCF36C0940DD88F', '10.00'],
  ['12', 'DEC', "WATSON'S", '1.60'],
  ['12', 'DEC', 'CIRCL', 'FOOD', '&', 'BEVERAGE', '97.37'],
  ['14', 'DEC', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(03)', '153.16']],
 [['15', 'JUN', 'GRAB', '*75F5BF65A71D43DA', '10.00'],
  ['16', 'JUN', 'SHOPEEPAY', '16.69'],
  ['17', 'JUN', 'SHOPEE', '-', 'SINGAPORE', '1.85'],
  ['19', 'JUN', 'PAYPAL', '*TBB', '58.50'],
  ['24', 'JUN', 'GRAB', '*B2268655FCC64C91', '20.00'],
  ['24', 'JUN', 'SHOPEE', '-', 'SINGAPORE', '2.58'],
  ['02', 'JUL', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['04', 'JUL', 'KLOOK', 'TRAVEL', 'TECHNOLOG', '15.00'],
  ['06', 'JUL', 'GRAB', '*F24A093F950A4451', '10.00'],
  ['08', 'JUL', 'GRAB', '*DDACB7296B8940D6', '20.00'],
  ['08', 'JUL', 'GRAB', '*222AA67AA50F463B', '10.00'],
  ['11', 'JUL', 'GET', 'IT', 'BY', 'CHANGI', 'RECOM', '117.50'],
  ['13', 'JUL', 'GRAB', '*B781106ED5B2475E', '20.00']]]

# Processing UOB first page

In [24]:
# Reads PDF's first page and extracts all txns after specified header and before footnote
with pdfplumber.open(uob_source_dir / uob_pdf_file) as pdf:
    first_page = pdf.pages[0]
    first_page_text = first_page.extract_text()
    first_page_txns_raw = first_page_text.partition("PREVIOUS BALANCE")[2].partition("Pleasenote")[0]
    print(first_page_txns_raw)

 1,549.38
04 AUG  04 AUG  PAYMT THRU E-BANK/HOMEB/CYBERB (EP12) 1,549.38CR
11 AUG  08 AUG  CR LATE CHARGE 100.00CR
12 AUG  11 AUG  UOB YOLO Cash Rebate 36.60CR
18 JUL  17 JUL  JOO SINGAPORE 124.75
Ref No. : 74541830200288070619671
21 JUL  21 JUL  KKH-SELF PAYMENT KIOSK 19SINGAPORE 254.66
Ref No. : 74541830203288071877788
27 JUL  25 JUL  TWO MEN BAGELS- MM SINGAPORE 29.02
Ref No. : 74541830207288074054506
30 JUL  29 JUL  THE DAILY CUT - ORP SINGAPORE 9.00
Ref No. : 74508980211009239158760
01 AUG  30 JUL  NTUC FP - CHINATOWN PT SINGAPORE 11.80
Ref No. : 74508980212009243375144
03 AUG  03 AUG  LATE CHARGES 100.00
04 AUG  03 AUG  OVERLIMIT FEE 40.00
11 AUG  09 AUG  Hanbaobao Pte. Ltd. SINGAPORE 35.30
Ref No. : 74508980223009294955916
11 AUG  09 AUG  GOMO MOBILE PLAN SINGAPORE 30.00
Ref No. : 74541830224288081355259
12 AUG  12 AUG  INTERESTS 45.27

In [25]:
# Looks at whitespace characters in text
print(repr(first_page_txns_raw))

' 1,549.38\n04 AUG  04 AUG  PAYMT THRU E-BANK/HOMEB/CYBERB (EP12) 1,549.38CR\n11 AUG  08 AUG  CR LATE CHARGE 100.00CR\n12 AUG  11 AUG  UOB YOLO Cash Rebate 36.60CR\n18 JUL  17 JUL  JOO SINGAPORE 124.75\nRef No. : 74541830200288070619671\n21 JUL  21 JUL  KKH-SELF PAYMENT KIOSK 19SINGAPORE 254.66\nRef No. : 74541830203288071877788\n27 JUL  25 JUL  TWO MEN BAGELS- MM SINGAPORE 29.02\nRef No. : 74541830207288074054506\n30 JUL  29 JUL  THE DAILY CUT - ORP SINGAPORE 9.00\nRef No. : 74508980211009239158760\n01 AUG  30 JUL  NTUC FP - CHINATOWN PT SINGAPORE 11.80\nRef No. : 74508980212009243375144\n03 AUG  03 AUG  LATE CHARGES 100.00\n04 AUG  03 AUG  OVERLIMIT FEE 40.00\n11 AUG  09 AUG  Hanbaobao Pte. Ltd. SINGAPORE 35.30\nRef No. : 74508980223009294955916\n11 AUG  09 AUG  GOMO MOBILE PLAN SINGAPORE 30.00\nRef No. : 74541830224288081355259\n12 AUG  12 AUG  INTERESTS 45.27 \n'

In [26]:
# Split by new lines
first_page_txns_raw.split("\n")

[' 1,549.38',
 '04 AUG  04 AUG  PAYMT THRU E-BANK/HOMEB/CYBERB (EP12) 1,549.38CR',
 '11 AUG  08 AUG  CR LATE CHARGE 100.00CR',
 '12 AUG  11 AUG  UOB YOLO Cash Rebate 36.60CR',
 '18 JUL  17 JUL  JOO SINGAPORE 124.75',
 'Ref No. : 74541830200288070619671',
 '21 JUL  21 JUL  KKH-SELF PAYMENT KIOSK 19SINGAPORE 254.66',
 'Ref No. : 74541830203288071877788',
 '27 JUL  25 JUL  TWO MEN BAGELS- MM SINGAPORE 29.02',
 'Ref No. : 74541830207288074054506',
 '30 JUL  29 JUL  THE DAILY CUT - ORP SINGAPORE 9.00',
 'Ref No. : 74508980211009239158760',
 '01 AUG  30 JUL  NTUC FP - CHINATOWN PT SINGAPORE 11.80',
 'Ref No. : 74508980212009243375144',
 '03 AUG  03 AUG  LATE CHARGES 100.00',
 '04 AUG  03 AUG  OVERLIMIT FEE 40.00',
 '11 AUG  09 AUG  Hanbaobao Pte. Ltd. SINGAPORE 35.30',
 'Ref No. : 74508980223009294955916',
 '11 AUG  09 AUG  GOMO MOBILE PLAN SINGAPORE 30.00',
 'Ref No. : 74541830224288081355259',
 '12 AUG  12 AUG  INTERESTS 45.27 ',
 '']

UOB e-statements have an additional element; ref no. are embedded within transactional listing. Hence, there's a need to edit *filter_legitimate_txns* function to incorporate this.

In [27]:
# After editing, the function then also works well for UOB pages
pprint.pprint(filter_legitimate_txns(first_page_txns_raw))

[['04',
  'AUG',
  '04',
  'AUG',
  'PAYMT',
  'THRU',
  'E-BANK/HOMEB/CYBERB',
  '(EP12)',
  '1,549.38CR'],
 ['11', 'AUG', '08', 'AUG', 'CR', 'LATE', 'CHARGE', '100.00CR'],
 ['12', 'AUG', '11', 'AUG', 'UOB', 'YOLO', 'Cash', 'Rebate', '36.60CR'],
 ['18', 'JUL', '17', 'JUL', 'JOO', 'SINGAPORE', '124.75'],
 ['21',
  'JUL',
  '21',
  'JUL',
  'KKH-SELF',
  'PAYMENT',
  'KIOSK',
  '19SINGAPORE',
  '254.66'],
 ['27',
  'JUL',
  '25',
  'JUL',
  'TWO',
  'MEN',
  'BAGELS-',
  'MM',
  'SINGAPORE',
  '29.02'],
 ['30',
  'JUL',
  '29',
  'JUL',
  'THE',
  'DAILY',
  'CUT',
  '-',
  'ORP',
  'SINGAPORE',
  '9.00'],
 ['01',
  'AUG',
  '30',
  'JUL',
  'NTUC',
  'FP',
  '-',
  'CHINATOWN',
  'PT',
  'SINGAPORE',
  '11.80'],
 ['03', 'AUG', '03', 'AUG', 'LATE', 'CHARGES', '100.00'],
 ['04', 'AUG', '03', 'AUG', 'OVERLIMIT', 'FEE', '40.00'],
 ['11', 'AUG', '09', 'AUG', 'Hanbaobao', 'Pte.', 'Ltd.', 'SINGAPORE', '35.30'],
 ['11', 'AUG', '09', 'AUG', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
 ['12', 'AUG', '12', 'AUG', 'INTERESTS', '45.27']]

In [28]:
# Removing post dates
first_page_txns_processed = filter_legitimate_txns(first_page_txns_raw)
for txn in first_page_txns_processed:
    del txn[0:2]

pprint.pprint(first_page_txns_processed)

[['04', 'AUG', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP12)', '1,549.38CR'],
 ['08', 'AUG', 'CR', 'LATE', 'CHARGE', '100.00CR'],
 ['11', 'AUG', 'UOB', 'YOLO', 'Cash', 'Rebate', '36.60CR'],
 ['17', 'JUL', 'JOO', 'SINGAPORE', '124.75'],
 ['21', 'JUL', 'KKH-SELF', 'PAYMENT', 'KIOSK', '19SINGAPORE', '254.66'],
 ['25', 'JUL', 'TWO', 'MEN', 'BAGELS-', 'MM', 'SINGAPORE', '29.02'],
 ['29', 'JUL', 'THE', 'DAILY', 'CUT', '-', 'ORP', 'SINGAPORE', '9.00'],
 ['30', 'JUL', 'NTUC', 'FP', '-', 'CHINATOWN', 'PT', 'SINGAPORE', '11.80'],
 ['03', 'AUG', 'LATE', 'CHARGES', '100.00'],
 ['03', 'AUG', 'OVERLIMIT', 'FEE', '40.00'],
 ['09', 'AUG', 'Hanbaobao', 'Pte.', 'Ltd.', 'SINGAPORE', '35.30'],
 ['09', 'AUG', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
 ['12', 'AUG', 'INTERESTS', '45.27']]

UOB also appends "CR" at the end of transactional amt if it's a rebate, thus *process_txn_amt* function also works in this case.

In [29]:
process_txn_amt(filter_legitimate_txns(first_page_txns_raw))

[['04',
  'AUG',
  '04',
  'AUG',
  'PAYMT',
  'THRU',
  'E-BANK/HOMEB/CYBERB',
  '(EP12)',
  '-1,549.38'],
 ['11', 'AUG', '08', 'AUG', 'CR', 'LATE', 'CHARGE', '-100.00'],
 ['12', 'AUG', '11', 'AUG', 'UOB', 'YOLO', 'Cash', 'Rebate', '-36.60'],
 ['18', 'JUL', '17', 'JUL', 'JOO', 'SINGAPORE', '124.75'],
 ['21',
  'JUL',
  '21',
  'JUL',
  'KKH-SELF',
  'PAYMENT',
  'KIOSK',
  '19SINGAPORE',
  '254.66'],
 ['27',
  'JUL',
  '25',
  'JUL',
  'TWO',
  'MEN',
  'BAGELS-',
  'MM',
  'SINGAPORE',
  '29.02'],
 ['30',
  'JUL',
  '29',
  'JUL',
  'THE',
  'DAILY',
  'CUT',
  '-',
  'ORP',
  'SINGAPORE',
  '9.00'],
 ['01',
  'AUG',
  '30',
  'JUL',
  'NTUC',
  'FP',
  '-',
  'CHINATOWN',
  'PT',
  'SINGAPORE',
  '11.80'],
 ['03', 'AUG', '03', 'AUG', 'LATE', 'CHARGES', '100.00'],
 ['04', 'AUG', '03', 'AUG', 'OVERLIMIT', 'FEE', '40.00'],
 ['11', 'AUG', '09', 'AUG', 'Hanbaobao', 'Pte.', 'Ltd.', 'SINGAPORE', '35.30'],
 ['11', 'AUG', '09', 'AUG', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
 ['12', 'AUG', '12', 'AUG', 'INTERESTS', '45.27']]

# Processing UOB second page

In [30]:
# Reads PDF's first page and extracts all txns after specified header and before footnote
with pdfplumber.open(uob_source_dir / uob_pdf_file) as pdf:
    second_page = pdf.pages[1]
    second_page_text = second_page.extract_text()
    second_page_txns_raw = second_page_text.partition("Date Date SGD")[2].partition("SUB TOTAL")[0]
    print(second_page_txns_raw)

In [31]:
# Testing robustness of filter_legitimate_txns function by running it on second page as well
pprint.pprint(filter_legitimate_txns(second_page_txns_raw))

[]

In [32]:
process_txn_amt(filter_legitimate_txns(second_page_txns_raw))

[]

# Putting it all together

In [33]:
# Reads PDF's first page and extracts all txns after specified header and before footnote
with pdfplumber.open(uob_source_dir / uob_pdf_file) as pdf:
    first_page = pdf.pages[0]
    first_page_text = first_page.extract_text()
#     first_page_txns_raw = first_page_text.partition("PREVIOUS BALANCE")[2].partition("Pleasenote")[0]
#     print(first_page_txns_raw)
    print(txn_trimming(first_page_text,"PREVIOUS BALANCE"))

 1,549.38
04 AUG  04 AUG  PAYMT THRU E-BANK/HOMEB/CYBERB (EP12) 1,549.38CR
11 AUG  08 AUG  CR LATE CHARGE 100.00CR
12 AUG  11 AUG  UOB YOLO Cash Rebate 36.60CR
18 JUL  17 JUL  JOO SINGAPORE 124.75
Ref No. : 74541830200288070619671
21 JUL  21 JUL  KKH-SELF PAYMENT KIOSK 19SINGAPORE 254.66
Ref No. : 74541830203288071877788
27 JUL  25 JUL  TWO MEN BAGELS- MM SINGAPORE 29.02
Ref No. : 74541830207288074054506
30 JUL  29 JUL  THE DAILY CUT - ORP SINGAPORE 9.00
Ref No. : 74508980211009239158760
01 AUG  30 JUL  NTUC FP - CHINATOWN PT SINGAPORE 11.80
Ref No. : 74508980212009243375144
03 AUG  03 AUG  LATE CHARGES 100.00
04 AUG  03 AUG  OVERLIMIT FEE 40.00
11 AUG  09 AUG  Hanbaobao Pte. Ltd. SINGAPORE 35.30
Ref No. : 74508980223009294955916
11 AUG  09 AUG  GOMO MOBILE PLAN SINGAPORE 30.00
Ref No. : 74541830224288081355259
12 AUG  12 AUG  INTERESTS 45.27

In [34]:
uob_all_txns = []

# Inserting all PDFs
for folder, subfolder, pdf_files in os.walk(uob_source_dir):
    for pdf_file in pdf_files:

        with pdfplumber.open(uob_source_dir / pdf_file) as pdf:
            for i in range(2):  # txns only extend up to 2nd page
                    page_text = pdf.pages[i].extract_text()
                    sub_total_bool, sub_total_content = contains_sub_total(pdf.pages[0].extract_text())

                    if i == 0:
                        txns_raw = txn_trimming(page_text, "PREVIOUS BALANCE")
                        uob_all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))

                    elif i == 1 and not sub_total_bool:  # if txns extend to 2nd page
                        txns_raw = txn_trimming(page_text, "Date Date SGD")
                        uob_all_txns.append(process_txn_amt(filter_legitimate_txns(txns_raw)))
                        
for monthly_txns in uob_all_txns:
    for txn in monthly_txns:
        del txn[0:2]  # remove post dates

In [35]:
uob_all_txns

[[['04', 'AUG', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP12)', '-1,549.38'],
  ['08', 'AUG', 'CR', 'LATE', 'CHARGE', '-100.00'],
  ['11', 'AUG', 'UOB', 'YOLO', 'Cash', 'Rebate', '-36.60'],
  ['17', 'JUL', 'JOO', 'SINGAPORE', '124.75'],
  ['21', 'JUL', 'KKH-SELF', 'PAYMENT', 'KIOSK', '19SINGAPORE', '254.66'],
  ['25', 'JUL', 'TWO', 'MEN', 'BAGELS-', 'MM', 'SINGAPORE', '29.02'],
  ['29', 'JUL', 'THE', 'DAILY', 'CUT', '-', 'ORP', 'SINGAPORE', '9.00'],
  ['30', 'JUL', 'NTUC', 'FP', '-', 'CHINATOWN', 'PT', 'SINGAPORE', '11.80'],
  ['03', 'AUG', 'LATE', 'CHARGES', '100.00'],
  ['03', 'AUG', 'OVERLIMIT', 'FEE', '40.00'],
  ['09', 'AUG', 'Hanbaobao', 'Pte.', 'Ltd.', 'SINGAPORE', '35.30'],
  ['09', 'AUG', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
  ['12', 'AUG', 'INTERESTS', '45.27']],
 [],
 [['19', 'AUG', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP11)', '-543.20'],
  ['01', 'SEP', 'CR', 'INTEREST', '-45.27'],
  ['01', 'SEP', 'CR', 'OVERLIMIT', 'FEE', '-40.00'],
  ['11', 'SEP', 'UOB', 'YOLO', 'Cash', 'Rebate', '-1.48'],
  ['28', 'AUG', 'BP-HONG', 'JJA', 'JANG', 'SINGAPORE', '60.03'],
  ['29', 'AUG', 'TANUKI', 'RAW', 'SINGAPORE', '56.40']],
 [['16', 'SEP', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP57)', '-29.68'],
  ['10', 'OCT', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.35'],
  ['13', 'SEP', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
  ['23',
   'SEP',
   'HAI',
   'DI',
   'LAO',
   '-',
   'MARINA',
   'SQ',
   'SINGAPORE',
   '135.30'],
  ['30',
   'SEP',
   'CARD',
   'MEMBERSHIP',
   'FEE',
   '-INCLUSIVE',
   'OF',
   'GST',
   '192.60']],
 [['01', 'APR', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP34)', '-638.04'],
  ['09', 'APR', 'UOB', 'YOLO', 'Cash', 'Rebate', '-22.86'],
  ['12', 'MAR', "WATSON'S", 'SINGAPORE', '6.20'],
  ['13', 'MAR', 'GUARDIAN', 'PLAZA', 'SINGAPURA', 'SINGAPORE', '10.00'],
  ['13', 'MAR', 'LAZADA', 'SINGAPORE', '(Paym', 'SINGAPORE', '314.09'],
  ['16', 'MAR', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '43.67'],
  ['16', 'MAR', 'LAZADA', 'SINGAPORE', '(Paym', 'SINGAPORE', '21.99'],
  ['17', 'MAR', 'Hotel', 'on', 'Booking.com', 'Amsterdam', '152.17'],
  ['20', 'MAR', 'URBAN', 'SPA', 'SINGAPORE', '20.00'],
  ['20', 'MAR', 'LUCHA', 'LOCO', 'SINGAPORE', '67.09'],
  ['20', 'MAR', 'KORYO', 'MART', 'TANJONG', 'PAGAR', 'SINGAPORE', '12.60'],
  ['21', 'MAR', 'COLD', 'STORAGE', 'HOUGANG', 'SINGAPORE', '13.07'],
  ['25', 'MAR', "WATSON'S", 'SINGAPORE', '10.20']],
 [['25', 'MAR', 'XIN', 'WANG', 'HK', 'CAFE-HEARTLANSINGAPORE', '41.43'],
  ['27', 'MAR', 'Lazada', 'Singapore', '126.25'],
  ['07', 'APR', 'Lazada', 'RedMart', 'Singapore', '46.67']],
 [['28', 'APR', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP31)', '-862.57'],
  ['11', 'MAY', 'UOB', 'YOLO', 'Cash', 'Rebate', '-6.70'],
  ['20', 'APR', 'Lazada', 'RedMart', 'Singapore', '63.10'],
  ['28', 'APR', 'Lazada', 'RedMart', 'Singapore', '43.83'],
  ['29', 'APR', 'STRANGERS', 'REUNION', 'SINGAPORE', '54.46'],
  ['29', 'APR', 'Lazada', 'Singapore', '83.49'],
  ['08', 'MAY', 'AMAZON', 'RETAIL', 'SINGAPORE', '79.33']],
 [['28', 'OCT', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP37)', '-357.55'],
  ['28',
   'OCT',
   'CR',
   'CARD',
   'MEMBERSHIP',
   'FEE',
   '-',
   'INC',
   'OF',
   'GST',
   '-192.60'],
  ['11', 'NOV', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.50'],
  ['13', 'OCT', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00']],
 [['24', 'JUN', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP21)', '-115.93'],
  ['09', 'JUL', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.35'],
  ['23', 'JUN', 'IKEA', 'SINGAPORE', '9.70'],
  ['25', 'JUN', 'WINDFLOWER', 'FLORIST', 'SINGAPORE', '56.70'],
  ['27', 'JUN', 'HENRI', 'CHARPENTIER', 'ORCHARDSINGAPORE', '17.70'],
  ['27', 'JUN', 'THEFATCOW', 'SINGAPORE', '112.99'],
  ['27', 'JUN', 'NATURELAND', 'ORCHARD', 'POINT', 'SINGAPORE', '101.65'],
  ['27', 'JUN', 'BINOMIO', 'SPANISH', 'RESTAURANSINGAPORE', '171.04'],
  ['29', 'JUN', 'WHEAT', '-', 'ONE', 'RAFFLES', 'PL', 'SINGAPORE', '12.00'],
  ['30', 'JUN', 'YA', 'KUN', 'CAFE', 'PTE', 'LTD', 'SINGAPORE', '1.60'],
  ['01', 'JUL', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '36.02'],
  ['01', 'JUL', 'YA', 'KUN', 'CAFE', 'PTE', 'LTD', 'SINGAPORE', '1.60'],
  ['02', 'JUL', 'THE', 'SALTED', 'PLUM', 'SINGAPORE', '37.66']],
 [['04', 'JUL', 'WTRAJUMMAS-FUNAN', '6586988741', '40.84'],
  ['04', 'JUL', "MOHAN'S", 'CUSTOM', 'TAILORS', '19SINGAPORE', '304.95'],
  ['04', 'JUL', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '89.00'],
  ['04', 'JUL', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '124.60'],
  ['04', 'JUL', 'UNIQLO', 'ION', 'SINGAPORE', '39.90'],
  ['04', 'JUL', 'THOMSON', 'WOMEN', 'CLINIC-TP', 'SINGAPORE', '267.50'],
  ['08', 'JUL', 'SULTANS', 'OF', 'SHAVE', '-', 'DUXTOSINGAPORE', '55.00'],
  ['11', 'JUL', 'COLD', 'STORAGE', 'HOUGANG', 'SINGAPORE', '26.98'],
  ['11', 'JUL', 'CSHH', 'COFFEE', 'BAR', 'SINGAPORE', '42.30']],
 [['11', 'DEC', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.09'],
  ['12', 'NOV', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00']],
 [['29', 'MAY', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP47)', '-317.51'],
  ['11', 'JUN', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.97'],
  ['13', 'MAY', "WATSON'S", 'SINGAPORE', '10.78'],
  ['13', 'MAY', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '45.00'],
  ['26', 'MAY', 'Lazada', 'RedMart', 'Singapore', '61.12']],
 [['28', 'JAN', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP44)', '-619.17'],
  ['11', 'FEB', 'UOB', 'YOLO', 'Cash', 'Rebate', '-20.23'],
  ['22', 'NOV', 'ISKINA', 'CEBU', 'SINGAPORE', '11.00'],
  ['11', 'JAN', 'HOMEGROUND', 'COFFEE', 'ROAS', 'SINGAPORE', '13.50'],
  ['11', 'JAN', 'SPORE', 'SPORTS', 'HUB-NS', 'LVL', '3SINGAPORE', '5.50'],
  ['11', 'JAN', "MCDONALD'S", '(KAL)', 'SINGAPORE', '20.40'],
  ['15', 'JAN', 'TOASTBOX', '-', 'TIONG', 'BAHRU', 'SINGAPORE', '1.70'],
  ['16', 'JAN', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '55.00'],
  ['16', 'JAN', 'Park', 'Bench', 'Delicatessen', 'PSingapore', '32.10'],
  ['18', 'JAN', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '26.80'],
  ['18', 'JAN', 'SHENG', 'KEE', 'ION', 'SINGAPORE', '7.89'],
  ['20', 'JAN', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '33.79'],
  ['22', 'JAN', 'MOOKATA', '@KATONG', 'SINGAPORE', '53.91']],
 [['23', 'JAN', "MCDONALD'S", '(HG)', 'SINGAPORE', '10.00'],
  ['24', 'JAN', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '4.70'],
  ['01', 'FEB', 'KUISHIN', 'BO', 'SINGAPORE', '93.92'],
  ['09', 'FEB', 'THE', 'BOILER', 'SINGAPORE', '225.16'],
  ['10', 'FEB', 'GUARDIAN', '-', 'CENTREPOINT', 'SINGAPORE', '15.90']],
 [['29', 'FEB', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP14)', '-591.04'],
  ['11', 'MAR', 'UOB', 'YOLO', 'Cash', 'Rebate', '-36.04'],
  ['14', 'FEB', "LAWRY'S", 'THE', 'PRIME', 'RIB', 'SINGAPORE', '200.42'],
  ['15', 'FEB', 'NTUC', 'FP-HOUGANG', 'A', 'SINGAPORE', '18.80'],
  ['17', 'FEB', 'GA', 'YA', 'GEUM', 'KOREAN', 'REST', 'SINGAPORE', '50.60'],
  ['19', 'FEB', "MCDONALD'S", '(KAL)', 'SINGAPORE', '18.85'],
  ['20', 'FEB', 'KAMPONG', 'CAFE', '@', 'BM', 'SINGAPORE', '9.00'],
  ['22', 'FEB', 'COLD', 'STORAGE-JELITA', 'SHOPPSINGAPORE', '12.75'],
  ['26', 'FEB', 'SORO', 'SINGAPORE', '31.78'],
  ['26', 'FEB', 'YA', 'KUN', 'KAYA', 'TOAST', 'SINGAPORE', '4.60'],
  ['26', 'FEB', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '55.00'],
  ['29', 'FEB', 'COLUMBUS', 'COFFEE', 'CO.', 'SINGAPORE', '53.00'],
  ['29', 'FEB', "MCDONALD'S", '(HG)', 'SINGAPORE', '16.75']],
 [['04', 'MAR', 'YA', 'KUN', 'KAYA', 'TOAST', 'SINGAPORE', '4.60'],
  ['05', 'MAR', 'THREE', 'BUNS', 'QUAYSIDE', 'SINGAPORE', '88.28'],
  ['06', 'MAR', 'SHAKE', 'SHACK-NEIL', 'RD', 'SINGAPORE', '37.00'],
  ['08', 'MAR', 'The', 'Bean', 'Hoppers', 'Pte', 'Ltd', 'Singapore', '30.50'],
  ['11', 'MAR', 'NIPONG', 'NAEPONG-313', 'SINGAPORE', '42.15']],
 [['30', 'DEC', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP38)', '-736.22'],
  ['10', 'JAN', 'UOB', 'YOLO', 'Cash', 'Rebate', '-43.62'],
  ['09', 'DEC', 'VANIDAY*509234', 'SINGAPORE', '44.00'],
  ['13', 'DEC', "WATSON'S", 'SINGAPORE', '24.23'],
  ['14', 'DEC', 'NATIVE', 'SINGAPORE', '67.10'],
  ['16', 'DEC', 'BROTHERS', 'RAMEN', 'SINGAPORE', '26.80'],
  ['18', 'DEC', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '1.80'],
  ['19', 'DEC', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '4.50'],
  ['24', 'DEC', 'MING', 'SAN', 'CASUAL', 'JAPANESE', 'SINGAPORE', '33.00'],
  ['25', 'DEC', 'GUZMAN', 'Y', 'GOMEZ', 'SINGAPORE', '18.80'],
  ['26', 'DEC', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '1.80'],
  ['27', 'DEC', 'AMBER', 'EMBER', 'SINGAPORE', '26.00'],
  ['27', 'DEC', '7-ELEVEN', '-KENSINGTON', 'SINGAPORE', '5.35']],
 [['28', 'DEC', 'POPULUS', 'SINGAPORE', '74.74'],
  ['31', 'DEC', 'SEPHORA-SUNTEC', 'CITY', 'SINGAPORE', '138.00'],
  ['03', 'JAN', 'THE', 'COCONUT', 'CLUB', 'SINGAPORE', '30.14'],
  ['03', 'JAN', 'GEM', 'BAR', 'SINGAPORE', '069', '20.01'],
  ['04', 'JAN', 'MUJI', '@', 'ION', 'ORCHARD', 'SINGAPORE', '8.20'],
  ['06', 'JAN', 'UNIQLO', 'TIONG', 'BAHRU', 'PLAZA', 'SINGAPORE', '29.90'],
  ['06', 'JAN', 'TONGUE', 'TIP', 'LZ', 'BEEF', 'NOODLESINGAPORE', '19.05'],
  ['08', 'JAN', 'FIVE', 'GUYS', 'SINGAPORE', '51.00'],
  ['10', 'JAN', 'KAI', 'SUSHI', '&', 'KOBATAYAKI', 'SINGAPORE', '38.37']]]

In [36]:
all_txns = dbs_all_txns.copy()
all_txns.extend(uob_all_txns)

In [37]:
all_txns

[[['13', 'AUG', 'SHOPEE', '-', 'SINGAPORE', '5.68'],
  ['14', 'AUG', 'ISTANBLUE', 'MEZE', '-', 'MM', '26.30'],
  ['14', 'AUG', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['20', 'AUG', 'GRAB*8C6FE4E51A3D05ACE', '20.00'],
  ['21', 'AUG', 'SHOPEE', 'SINGAPORE', '8.50'],
  ['22', 'AUG', 'GRAB*11FCC478E9A6B9708', '20.00'],
  ['25', 'AUG', 'SHAW', 'THEATRES', 'PL', 'SHAW.', '28.50'],
  ['26', 'AUG', 'GRAB*DFCA24F43BB5783AE', '20.00'],
  ['26', 'AUG', 'THE', 'DAILY', 'CUT', '-', 'ORP', '9.00'],
  ['26', 'AUG', 'STBILL', '254.32'],
  ['28', 'AUG', 'JEWEL', 'CHANGI', 'AIRPORT', '13.50'],
  ['29', 'AUG', 'AN', 'ACAI', 'AFFAIR', '-', 'JEWEL', '9.50'],
  ['30', 'AUG', 'MDM', 'LING', 'B*', 'MDMLINGBAK', '47.40'],
  ['30', 'AUG', 'SHOPEEPAY', '8.00'],
  ['01', 'SEP', 'SHOPEEPAY', '-8.00'],
  ['02', 'SEP', 'HANBAOBAO', 'PTE.', 'LTD.', '49.80'],
  ['04', 'SEP', 'KREAM', 'BEER', '42.37'],
  ['04', 'SEP', 'MUCHACHOS', '-', 'FRASERS', '34.50'],
  ['05', 'SEP', 'BAKERY', '&', 'BAR', 'ST', 'MARC', '25.41'],
  ['08', 'SEP', 'SWEE', 'HENG', 'BAKERY-CL7', '1.50'],
  ['09', 'SEP', 'SWEE', 'HENG', 'BAKERY-CL7', '1.80'],
  ['10', 'SEP', 'YARDBIRD', '140.06'],
  ['12', 'SEP', 'FINEST', 'FUNAN', '2.00']],
 [],
 [['15', 'JUL', 'GRAB*487A744E79FC5A74C', '50.00'],
  ['15', 'JUL', 'GV', 'DBO', '25.00'],
  ['17', 'JUL', 'SHOPEE', '-', 'SINGAPORE', '12.49'],
  ['21', 'JUL', 'GRAB*F434B4F4AB82070D4', '30.00'],
  ['26', 'JUL', 'GET', 'IT', 'BY', 'CHANGI', 'RECOM', '55.99'],
  ['30', 'JUL', 'GRAB*6BA2D47E3AB10455A', '30.00'],
  ['31', 'JUL', 'PIEDRA', 'NEGRA', '48.02'],
  ['01', 'AUG', 'THE', 'BEAN', 'HOPPERS', 'PTE', 'L', '13.90'],
  ['02', 'AUG', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['03', 'AUG', 'GRAB*C52CB4F628AEF8A5F', '10.00'],
  ['08', 'AUG', 'GRAB*00F314201B0CDD4D8', '20.00'],
  ['08', 'AUG', 'GRAB*8BC7D45DA94823FAF', '10.00'],
  ['09', 'AUG', 'GRAB*DDDED4EDD9E4DB08F', '20.00'],
  ['10', 'AUG', 'SHOPEE', '-', 'SINGAPORE', '13.39'],
  ['10', 'AUG', 'SHOPEE', 'SINGAPORE', '8.50'],
  ['11', 'AUG', 'ZUI', 'HONG', 'LOU', '204.80'],
  ['11', 'AUG', 'NTUC', 'FP', '-', 'CHINATOWN', 'PT', '21.65'],
  ['13', 'AUG', 'GRAB*7D19E41468B2D658B', '10.00']],
 [['05', 'JAN', 'FLYSCOOT.S8DRQM_234118', '-448.94'],
  ['17', 'FEB', 'GRAB', '*835550A013D14DAE', '20.00'],
  ['18', 'FEB', 'GRAB', '*F280525E49D84DCC', '10.00'],
  ['18', 'FEB', 'GRAB', '*D358B7FFA08F4AC7', '10.00'],
  ['21', 'FEB', 'GRAB', '*8E17D641D11F43C9', '50.00'],
  ['22', 'FEB', 'THE', 'TINSEL', 'RACK', '(EC)', '34.40'],
  ['22', 'FEB', 'SP', '*', 'THE', 'SUNDAY', 'AVENUE', '40.00'],
  ['22', 'FEB', 'GRAB', '*3206DFDE3C0141A6', '10.00'],
  ['26', 'FEB', 'GRAB', '*4C22A08C1B7644BF', '10.00'],
  ['27', 'FEB', 'LAZADA', 'SINGAPORE', '15.39'],
  ['02', 'MAR', 'GRAB', '*FAC83A8B5ED34215', '10.00'],
  ['05', 'MAR', 'GRAB', '*CDF76E68D8214709', '20.00'],
  ['06', 'MAR', 'GRAB', '*55FB7E361AC34C9E', '10.00'],
  ['08', 'MAR', 'AGODA.COM', '178.24'],
  ['11', 'MAR', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'MAR', 'GRAB', '*68A7E02A72504F85', '10.00'],
  ['12', 'MAR', 'SHOPEE', '-', 'SINGAPORE', '1,600.00'],
  ['12', 'MAR', 'SHOPEE', '-', 'SINGAPORE', '76.78']],
 [['14', 'JAN', 'HANBAOBAO', 'PTE.', 'LTD.', '52.80'],
  ['18', 'JAN', 'GRAB', '*FF1841FBB9CA496D', '10.00'],
  ['18', 'JAN', 'GRAB', '*071497B40C8D4AE5', '10.00'],
  ['19', 'JAN', 'GRAB', '*C15209FD14474E26', '10.00'],
  ['20', 'JAN', 'GRAB', '*D95D9F791CB44B8E', '60.00'],
  ['24', 'JAN', 'GRAB', '*4CF8DBF1CE8243ED', '20.00'],
  ['05', 'FEB', 'ECONOMIST', 'SUBSCRIPTION', 'WWW', 'GB', '257.55'],
  ['07', 'FEB', 'GRAB', '*55C4E732D4A2424C', '10.00'],
  ['10', 'FEB', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'FEB', 'GRAB', '*4E84D87A0E924F93', '10.00']],
 [['16', 'DEC', 'GRAB', '*04E7DF7B3B0D4A50', '10.00'],
  ['18', 'DEC', 'ZaloraSG', '-24.27'],
  ['18', 'DEC', 'ZaloraSG', '-53.54'],
  ['18', 'DEC', 'GRAB', '*CC11E60772F843D7', '10.00'],
  ['19', 'DEC', 'GRAB', '*2687262420027021', '20.00'],
  ['21', 'DEC', 'GRAB', '*E2CCAC9A01004AD2', '10.00'],
  ['23', 'DEC', 'GRAB', '*881F3DC4A0D0471E', '20.00'],
  ['24', 'DEC', 'GRAB', '*B98D7DFBE7594ECB', '10.00'],
  ['24', 'DEC', 'GRAB', '*4D6B78401DCD406D', '10.00'],
  ['24', 'DEC', 'GRAB', '*A72041A9F37F4C93', '10.00'],
  ['26', 'DEC', 'GRAB', '*B7AD0B7C12BE4BE5', '10.00'],
  ['28', 'DEC', 'GRAB', '*597626A303534816', '10.00'],
  ['29', 'DEC', 'GRAB', '*33B6D89A12D74A5C', '30.00'],
  ['31', 'DEC', 'GRAB', '*84362D7168954BF4', '138.00'],
  ['31', 'DEC', 'GRAB', '*5C19F9AB02C343E8', '40.00'],
  ['05', 'JAN', 'FLYSCOOT.00000000S8DRQ', '448.94'],
  ['09', 'JAN', 'RELC', 'EB', '(CEA)', '417.30'],
  ['10', 'JAN', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '48.00'],
  ['12', 'JAN', 'ANNUAL', 'FEE', '180.00'],
  ['13', 'JAN', 'GST', '@', '7%', '12.60']],
 [['15', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '4.65'],
  ['16', 'OCT', 'SHAKE', 'SHACK-NEIL', 'RD', '42.10'],
  ['20', 'OCT', 'TENDON', 'KOHAKU', '17.66'],
  ['22', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '5.90'],
  ['23', 'OCT', 'THE', 'COFFEE', 'BEAN-CAM', '8.20'],
  ['23', 'OCT', 'AZMAYA', '98.40'],
  ['24', 'OCT', 'JANNPAUL', '500.00'],
  ['25', 'OCT', 'FAIRPRICE', 'XTRA-AMK', '24.00'],
  ['25', 'OCT', 'GRAB*', 'ACF54A4729CCF28A', '10.00'],
  ['30', 'OCT', 'BURGER', '&', 'LOBSTER', '91.81'],
  ['30', 'OCT', 'NATURELAND', 'ORCHARD', 'POI', '203.30'],
  ['30', 'OCT', 'FAMOUS', 'AMOS', '-', 'WISMA', 'AT', '11.70'],
  ['30', 'OCT', 'GATHER', '61.20'],
  ['30', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '37.99'],
  ['31', 'OCT', 'DECATHLON', 'CENTREPOINT', '60.00'],
  ['31', 'OCT', 'THE', 'COFFEE', 'BEAN-WISMA', '7.50'],
  ['02', 'NOV', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['02', 'NOV', 'TESS', 'BAR', '&', 'KITCHEN', '216.57'],
  ['06', 'NOV', 'GRAB*', 'A5CDB4F0B4086951', '10.00'],
  ['06', 'NOV', 'LADY', 'WU', '66.80'],
  ['07', 'NOV', 'BTV', 'GROUP', 'PTE', 'LTD', '-', 'NA', '98.10'],
  ['09', 'NOV', 'UNIQLO', 'SINGAPORE', '244.20'],
  ['09', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '5.40']],
 [['09', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '2.00'],
  ['09', 'NOV', 'GHBASS', 'VIA', 'FEDEX', '120-368-3489', 'FL', '126.38'],
  ['11', 'NOV', 'ZALORASG', '61.31'],
  ['11', 'NOV', 'WWW.ASOS.COM', '02077561000', 'GB', '66.45'],
  ['13', 'NOV', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(02)', '153.16']],
 [['13', 'APR', 'SHOPEE', '-', 'SINGAPORE', '23.88'],
  ['16', 'APR', 'GRAB', '*B43608E16EE04E56', '20.00'],
  ['16', 'APR', 'SHOPEE', '-', 'SINGAPORE', '31.88'],
  ['18', 'APR', 'SHOPEE', '-', 'SINGAPORE', '11.68'],
  ['20', 'APR', 'GRAB', '*CA879A25577B453B', '50.00'],
  ['21', 'APR', 'GRAB', '*6FD4FFBDB7194F3C', '50.00'],
  ['21', 'APR', 'GRAB', '*075883E65135474B', '20.00'],
  ['22', 'APR', 'GRAB', '*F41BF5A1A08C4517', '20.00'],
  ['23', 'APR', 'GRAB', '*42896BDC318046CE', '30.00'],
  ['26', 'APR', 'SHOPEE', '-', 'SINGAPORE', '4.00'],
  ['28', 'APR', 'SHOPEE', '-', 'SINGAPORE', '3.00'],
  ['29', 'APR', 'GRAB', '*AD0F7112DC434D3F', '30.00'],
  ['03', 'MAY', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['03', 'MAY', 'GRAB', '*C834F57167B84C26', '50.00'],
  ['06', 'MAY', 'SHOPEE', '-', 'SINGAPORE', '26.39'],
  ['09', 'MAY', 'SHOPEE', '-', 'SINGAPORE', '5.50'],
  ['11', 'MAY', 'GRAB', '*541D4DB3EDF846EA', '100.00']],
 [['14', 'MAR', 'GRAB', '*CDDA8906867F4617', '50.00'],
  ['18', 'MAR', 'GRAB', '*C1DBB01A3F4A451F', '40.00'],
  ['18', 'MAR', 'RELC', 'EB', '(CEA)', '-417.30'],
  ['24', 'MAR', 'GRAB', '*6AD2E1B59BD640E2', '50.00'],
  ['30', 'MAR', 'GRAB', '*B6491104E73A4F56', '20.00'],
  ['01', 'APR', 'GRAB', '*70A771113E6A4AE6', '10.00'],
  ['02', 'APR', 'GRAB', '*F5F2204FF85043DF', '50.00'],
  ['02', 'APR', 'AGODA.COM', '-178.24'],
  ['05', 'APR', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['06', 'APR', 'GRAB', '*76D6C076D9884E34', '30.00'],
  ['07', 'APR', 'SHOPEE', '-', 'SINGAPORE', '2.65'],
  ['09', 'APR', 'SHOPEE', '-', 'SINGAPORE', '12.40'],
  ['09', 'APR', 'SHOPEE', '-', 'SINGAPORE', '14.90']],
 [['18', 'SEP', 'AJIYA', 'OKONOMIYAKI', 'REST', '56.76'],
  ['19', 'SEP', 'TIPO', '44.75'],
  ['20', 'SEP', 'LAZADA', 'SINGAPORE', '10.00'],
  ['20', 'SEP', 'SHOPEE', '-', 'SINGAPORE', '19.43'],
  ['20', 'SEP', 'FAIRPRICE', 'XTRA-NEX', 'MAL', '3.80'],
  ['21', 'SEP', 'SULTANS', 'OF', 'SHAVE', '-', 'DU', '55.00'],
  ['24', 'SEP', 'MAD', 'FOR', 'GARLIC-SUNTEC', '66.35'],
  ['24', 'SEP', 'ROUTE', '65', '75.40'],
  ['26', 'SEP', 'THE', 'FULLERTON', 'BAY', 'HOTE', '110.05'],
  ['27', 'SEP', 'TEXAS', 'CHICKEN', 'NEX', '13.30'],
  ['03', 'OCT', 'OMOTE', '57.20'],
  ['06', 'OCT', 'GRAB*', '8522A41C02D9EFF8', '10.00'],
  ['06', 'OCT', 'SHOPEE', '-', 'SINGAPORE', '13.95'],
  ['07', 'OCT', 'GUARDIAN', 'RAFFLES', 'PL', 'MR', '14.90'],
  ['10', 'OCT', 'POPEYES', '-', 'AMK', '11.80'],
  ['10', 'OCT', 'FAIRPRICE', 'XTRA-AMK', '22.45'],
  ['12', 'OCT', 'COLD', 'STORAGE', 'HOUGANG', '11.00'],
  ['14', 'OCT', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(01)', '153.16']],
 [['20', 'MAY', 'GRAB', '*DADA0FDDA2C34AF6', '70.00'],
  ['26', 'MAY', 'SHOPEEPAY', '25.50'],
  ['27', 'MAY', 'APPLE', 'ONLINE', 'STORE', '-', 'S', '1,884.00'],
  ['28', 'MAY', 'BEST', 'DENKI', 'SINGAPORE', 'P', '2,598.00'],
  ['02', 'JUN', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['08', 'JUN', 'GRAB', '*C8A0434CD9AC43ED', '20.00']],
 [['12', 'NOV', 'LAZADA', 'SINGAPORE', '(PAYM', '13.39'],
  ['13', 'NOV', 'GRAB*', 'BF5684F0017318B3', '40.00'],
  ['15', 'NOV', 'FAIRPRICE', 'XTRA-AMK', '26.00'],
  ['15', 'NOV', 'AMAZON', 'SG', '177.03'],
  ['15', 'NOV', 'STARBUCKS@AMK', 'HUB(AMK)', '10.43'],
  ['15', 'NOV', 'AMAZON', 'SG', '134.59'],
  ['16', 'NOV', 'UNIQLO', 'CITY', 'SQUARE', '67.70'],
  ['16', 'NOV', 'DECATHLON', 'SG', 'LAB', '66.00'],
  ['16', 'NOV', 'BANANA', 'LEAF', '55.30'],
  ['20', 'NOV', 'ZaloraSG', '-19.51'],
  ['20', 'NOV', 'TENDON', 'KOHAKU', '35.31'],
  ['20', 'NOV', 'GRAB*', 'S-26872624-8-462', '11.00'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '3.20'],
  ['20', 'NOV', "MCDONALD'S", '(HG)', '20.15'],
  ['22', 'NOV', "MCDONALD'S", '(SHHG)', '7.20'],
  ['23', 'NOV', 'NTUC', 'FP-HOUGANG', 'A', '11.65'],
  ['23', 'NOV', 'ESSO-CHEERS', 'BY', 'FP', '45.00'],
  ['27', 'NOV', 'ZALORASG', '95.73'],
  ['27', 'NOV', 'LAZADA', 'SINGAPORE', '55.20'],
  ['27', 'NOV', 'OMOTE', '76.03'],
  ['27', 'NOV', 'SHOPEE', '-', 'SINGAPORE', '3.84'],
  ['27', 'NOV', 'SHOPEE', 'SINGAPORE', '4.25'],
  ['28', 'NOV', 'GRAB*', 'A96461585C435436', '10.00']],
 [['29', 'NOV', 'SPC', '1351', 'ANG', 'MO', 'KIO', 'AV', '8.50'],
  ['01', 'DEC', 'GRAB*', 'AD19385300C29104', '10.00'],
  ['02', 'DEC', 'WOK', 'HEY', '-', 'CHINATOWN', 'PO', '6.80'],
  ['03', 'DEC', 'RAFFLES', 'MEDICAL-HOUGAN', '27.20'],
  ['04', 'DEC', 'GRUB', '58.85'],
  ['05', 'DEC', 'FAIRPRICE', 'XTRA-AMK', '59.65'],
  ['07', 'DEC', 'NTUC', 'FP-HOUGANG', 'A', '12.20'],
  ['11', 'DEC', 'GRAB*', 'AD3DC9087F1FC0D3', '10.00'],
  ['11', 'DEC', 'GRAB*', '8BCF36C0940DD88F', '10.00'],
  ['12', 'DEC', "WATSON'S", '1.60'],
  ['12', 'DEC', 'CIRCL', 'FOOD', '&', 'BEVERAGE', '97.37'],
  ['14', 'DEC', '01LAZADA-DBS', 'ONLINE', 'IPP', '06', '(03)', '153.16']],
 [['15', 'JUN', 'GRAB', '*75F5BF65A71D43DA', '10.00'],
  ['16', 'JUN', 'SHOPEEPAY', '16.69'],
  ['17', 'JUN', 'SHOPEE', '-', 'SINGAPORE', '1.85'],
  ['19', 'JUN', 'PAYPAL', '*TBB', '58.50'],
  ['24', 'JUN', 'GRAB', '*B2268655FCC64C91', '20.00'],
  ['24', 'JUN', 'SHOPEE', '-', 'SINGAPORE', '2.58'],
  ['02', 'JUL', 'LIBERTY', 'WIRELESS', 'PTE', 'L', '38.00'],
  ['04', 'JUL', 'KLOOK', 'TRAVEL', 'TECHNOLOG', '15.00'],
  ['06', 'JUL', 'GRAB', '*F24A093F950A4451', '10.00'],
  ['08', 'JUL', 'GRAB', '*DDACB7296B8940D6', '20.00'],
  ['08', 'JUL', 'GRAB', '*222AA67AA50F463B', '10.00'],
  ['11', 'JUL', 'GET', 'IT', 'BY', 'CHANGI', 'RECOM', '117.50'],
  ['13', 'JUL', 'GRAB', '*B781106ED5B2475E', '20.00']],
 [['04', 'AUG', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP12)', '-1,549.38'],
  ['08', 'AUG', 'CR', 'LATE', 'CHARGE', '-100.00'],
  ['11', 'AUG', 'UOB', 'YOLO', 'Cash', 'Rebate', '-36.60'],
  ['17', 'JUL', 'JOO', 'SINGAPORE', '124.75'],
  ['21', 'JUL', 'KKH-SELF', 'PAYMENT', 'KIOSK', '19SINGAPORE', '254.66'],
  ['25', 'JUL', 'TWO', 'MEN', 'BAGELS-', 'MM', 'SINGAPORE', '29.02'],
  ['29', 'JUL', 'THE', 'DAILY', 'CUT', '-', 'ORP', 'SINGAPORE', '9.00'],
  ['30', 'JUL', 'NTUC', 'FP', '-', 'CHINATOWN', 'PT', 'SINGAPORE', '11.80'],
  ['03', 'AUG', 'LATE', 'CHARGES', '100.00'],
  ['03', 'AUG', 'OVERLIMIT', 'FEE', '40.00'],
  ['09', 'AUG', 'Hanbaobao', 'Pte.', 'Ltd.', 'SINGAPORE', '35.30'],
  ['09', 'AUG', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
  ['12', 'AUG', 'INTERESTS', '45.27']],
 [],
 [['19', 'AUG', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP11)', '-543.20'],
  ['01', 'SEP', 'CR', 'INTEREST', '-45.27'],
  ['01', 'SEP', 'CR', 'OVERLIMIT', 'FEE', '-40.00'],
  ['11', 'SEP', 'UOB', 'YOLO', 'Cash', 'Rebate', '-1.48'],
  ['28', 'AUG', 'BP-HONG', 'JJA', 'JANG', 'SINGAPORE', '60.03'],
  ['29', 'AUG', 'TANUKI', 'RAW', 'SINGAPORE', '56.40']],
 [['16', 'SEP', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP57)', '-29.68'],
  ['10', 'OCT', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.35'],
  ['13', 'SEP', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00'],
  ['23',
   'SEP',
   'HAI',
   'DI',
   'LAO',
   '-',
   'MARINA',
   'SQ',
   'SINGAPORE',
   '135.30'],
  ['30',
   'SEP',
   'CARD',
   'MEMBERSHIP',
   'FEE',
   '-INCLUSIVE',
   'OF',
   'GST',
   '192.60']],
 [['01', 'APR', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP34)', '-638.04'],
  ['09', 'APR', 'UOB', 'YOLO', 'Cash', 'Rebate', '-22.86'],
  ['12', 'MAR', "WATSON'S", 'SINGAPORE', '6.20'],
  ['13', 'MAR', 'GUARDIAN', 'PLAZA', 'SINGAPURA', 'SINGAPORE', '10.00'],
  ['13', 'MAR', 'LAZADA', 'SINGAPORE', '(Paym', 'SINGAPORE', '314.09'],
  ['16', 'MAR', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '43.67'],
  ['16', 'MAR', 'LAZADA', 'SINGAPORE', '(Paym', 'SINGAPORE', '21.99'],
  ['17', 'MAR', 'Hotel', 'on', 'Booking.com', 'Amsterdam', '152.17'],
  ['20', 'MAR', 'URBAN', 'SPA', 'SINGAPORE', '20.00'],
  ['20', 'MAR', 'LUCHA', 'LOCO', 'SINGAPORE', '67.09'],
  ['20', 'MAR', 'KORYO', 'MART', 'TANJONG', 'PAGAR', 'SINGAPORE', '12.60'],
  ['21', 'MAR', 'COLD', 'STORAGE', 'HOUGANG', 'SINGAPORE', '13.07'],
  ['25', 'MAR', "WATSON'S", 'SINGAPORE', '10.20']],
 [['25', 'MAR', 'XIN', 'WANG', 'HK', 'CAFE-HEARTLANSINGAPORE', '41.43'],
  ['27', 'MAR', 'Lazada', 'Singapore', '126.25'],
  ['07', 'APR', 'Lazada', 'RedMart', 'Singapore', '46.67']],
 [['28', 'APR', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP31)', '-862.57'],
  ['11', 'MAY', 'UOB', 'YOLO', 'Cash', 'Rebate', '-6.70'],
  ['20', 'APR', 'Lazada', 'RedMart', 'Singapore', '63.10'],
  ['28', 'APR', 'Lazada', 'RedMart', 'Singapore', '43.83'],
  ['29', 'APR', 'STRANGERS', 'REUNION', 'SINGAPORE', '54.46'],
  ['29', 'APR', 'Lazada', 'Singapore', '83.49'],
  ['08', 'MAY', 'AMAZON', 'RETAIL', 'SINGAPORE', '79.33']],
 [['28', 'OCT', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP37)', '-357.55'],
  ['28',
   'OCT',
   'CR',
   'CARD',
   'MEMBERSHIP',
   'FEE',
   '-',
   'INC',
   'OF',
   'GST',
   '-192.60'],
  ['11', 'NOV', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.50'],
  ['13', 'OCT', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00']],
 [['24', 'JUN', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP21)', '-115.93'],
  ['09', 'JUL', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.35'],
  ['23', 'JUN', 'IKEA', 'SINGAPORE', '9.70'],
  ['25', 'JUN', 'WINDFLOWER', 'FLORIST', 'SINGAPORE', '56.70'],
  ['27', 'JUN', 'HENRI', 'CHARPENTIER', 'ORCHARDSINGAPORE', '17.70'],
  ['27', 'JUN', 'THEFATCOW', 'SINGAPORE', '112.99'],
  ['27', 'JUN', 'NATURELAND', 'ORCHARD', 'POINT', 'SINGAPORE', '101.65'],
  ['27', 'JUN', 'BINOMIO', 'SPANISH', 'RESTAURANSINGAPORE', '171.04'],
  ['29', 'JUN', 'WHEAT', '-', 'ONE', 'RAFFLES', 'PL', 'SINGAPORE', '12.00'],
  ['30', 'JUN', 'YA', 'KUN', 'CAFE', 'PTE', 'LTD', 'SINGAPORE', '1.60'],
  ['01', 'JUL', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '36.02'],
  ['01', 'JUL', 'YA', 'KUN', 'CAFE', 'PTE', 'LTD', 'SINGAPORE', '1.60'],
  ['02', 'JUL', 'THE', 'SALTED', 'PLUM', 'SINGAPORE', '37.66']],
 [['04', 'JUL', 'WTRAJUMMAS-FUNAN', '6586988741', '40.84'],
  ['04', 'JUL', "MOHAN'S", 'CUSTOM', 'TAILORS', '19SINGAPORE', '304.95'],
  ['04', 'JUL', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '89.00'],
  ['04', 'JUL', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '124.60'],
  ['04', 'JUL', 'UNIQLO', 'ION', 'SINGAPORE', '39.90'],
  ['04', 'JUL', 'THOMSON', 'WOMEN', 'CLINIC-TP', 'SINGAPORE', '267.50'],
  ['08', 'JUL', 'SULTANS', 'OF', 'SHAVE', '-', 'DUXTOSINGAPORE', '55.00'],
  ['11', 'JUL', 'COLD', 'STORAGE', 'HOUGANG', 'SINGAPORE', '26.98'],
  ['11', 'JUL', 'CSHH', 'COFFEE', 'BAR', 'SINGAPORE', '42.30']],
 [['11', 'DEC', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.09'],
  ['12', 'NOV', 'GOMO', 'MOBILE', 'PLAN', 'SINGAPORE', '30.00']],
 [['29', 'MAY', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP47)', '-317.51'],
  ['11', 'JUN', 'UOB', 'YOLO', 'Cash', 'Rebate', '-0.97'],
  ['13', 'MAY', "WATSON'S", 'SINGAPORE', '10.78'],
  ['13', 'MAY', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '45.00'],
  ['26', 'MAY', 'Lazada', 'RedMart', 'Singapore', '61.12']],
 [['28', 'JAN', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP44)', '-619.17'],
  ['11', 'FEB', 'UOB', 'YOLO', 'Cash', 'Rebate', '-20.23'],
  ['22', 'NOV', 'ISKINA', 'CEBU', 'SINGAPORE', '11.00'],
  ['11', 'JAN', 'HOMEGROUND', 'COFFEE', 'ROAS', 'SINGAPORE', '13.50'],
  ['11', 'JAN', 'SPORE', 'SPORTS', 'HUB-NS', 'LVL', '3SINGAPORE', '5.50'],
  ['11', 'JAN', "MCDONALD'S", '(KAL)', 'SINGAPORE', '20.40'],
  ['15', 'JAN', 'TOASTBOX', '-', 'TIONG', 'BAHRU', 'SINGAPORE', '1.70'],
  ['16', 'JAN', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '55.00'],
  ['16', 'JAN', 'Park', 'Bench', 'Delicatessen', 'PSingapore', '32.10'],
  ['18', 'JAN', 'TAKASHIMAYA', '(S)', 'LTD', 'SINGAPORE', '26.80'],
  ['18', 'JAN', 'SHENG', 'KEE', 'ION', 'SINGAPORE', '7.89'],
  ['20', 'JAN', 'GENKI', 'SUSHI', '-', 'CTP', 'SG', '33.79'],
  ['22', 'JAN', 'MOOKATA', '@KATONG', 'SINGAPORE', '53.91']],
 [['23', 'JAN', "MCDONALD'S", '(HG)', 'SINGAPORE', '10.00'],
  ['24', 'JAN', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '4.70'],
  ['01', 'FEB', 'KUISHIN', 'BO', 'SINGAPORE', '93.92'],
  ['09', 'FEB', 'THE', 'BOILER', 'SINGAPORE', '225.16'],
  ['10', 'FEB', 'GUARDIAN', '-', 'CENTREPOINT', 'SINGAPORE', '15.90']],
 [['29', 'FEB', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP14)', '-591.04'],
  ['11', 'MAR', 'UOB', 'YOLO', 'Cash', 'Rebate', '-36.04'],
  ['14', 'FEB', "LAWRY'S", 'THE', 'PRIME', 'RIB', 'SINGAPORE', '200.42'],
  ['15', 'FEB', 'NTUC', 'FP-HOUGANG', 'A', 'SINGAPORE', '18.80'],
  ['17', 'FEB', 'GA', 'YA', 'GEUM', 'KOREAN', 'REST', 'SINGAPORE', '50.60'],
  ['19', 'FEB', "MCDONALD'S", '(KAL)', 'SINGAPORE', '18.85'],
  ['20', 'FEB', 'KAMPONG', 'CAFE', '@', 'BM', 'SINGAPORE', '9.00'],
  ['22', 'FEB', 'COLD', 'STORAGE-JELITA', 'SHOPPSINGAPORE', '12.75'],
  ['26', 'FEB', 'SORO', 'SINGAPORE', '31.78'],
  ['26', 'FEB', 'YA', 'KUN', 'KAYA', 'TOAST', 'SINGAPORE', '4.60'],
  ['26', 'FEB', 'SULTANS', 'OF', 'SHAVE', 'SINGAPORE', '55.00'],
  ['29', 'FEB', 'COLUMBUS', 'COFFEE', 'CO.', 'SINGAPORE', '53.00'],
  ['29', 'FEB', "MCDONALD'S", '(HG)', 'SINGAPORE', '16.75']],
 [['04', 'MAR', 'YA', 'KUN', 'KAYA', 'TOAST', 'SINGAPORE', '4.60'],
  ['05', 'MAR', 'THREE', 'BUNS', 'QUAYSIDE', 'SINGAPORE', '88.28'],
  ['06', 'MAR', 'SHAKE', 'SHACK-NEIL', 'RD', 'SINGAPORE', '37.00'],
  ['08', 'MAR', 'The', 'Bean', 'Hoppers', 'Pte', 'Ltd', 'Singapore', '30.50'],
  ['11', 'MAR', 'NIPONG', 'NAEPONG-313', 'SINGAPORE', '42.15']],
 [['30', 'DEC', 'PAYMT', 'THRU', 'E-BANK/HOMEB/CYBERB', '(EP38)', '-736.22'],
  ['10', 'JAN', 'UOB', 'YOLO', 'Cash', 'Rebate', '-43.62'],
  ['09', 'DEC', 'VANIDAY*509234', 'SINGAPORE', '44.00'],
  ['13', 'DEC', "WATSON'S", 'SINGAPORE', '24.23'],
  ['14', 'DEC', 'NATIVE', 'SINGAPORE', '67.10'],
  ['16', 'DEC', 'BROTHERS', 'RAMEN', 'SINGAPORE', '26.80'],
  ['18', 'DEC', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '1.80'],
  ['19', 'DEC', 'TOAST', 'BOX', '-', 'PZ', 'SING', 'SINGAPORE', '4.50'],
  ['24', 'DEC', 'MING', 'SAN', 'CASUAL', 'JAPANESE', 'SINGAPORE', '33.00'],

# Categorizing transactions

In [38]:
# Represent txns according to dates, desc and amt
for monthly_txns in all_txns:
    for txn in monthly_txns:
        print(" ".join(txn[0:2]), " ".join(txn[2:len(txn)-1]) , txn[-1])

13 AUG SHOPEE - SINGAPORE 5.68
14 AUG ISTANBLUE MEZE - MM 26.30
14 AUG SULTANS OF SHAVE - DU 55.00
20 AUG GRAB*8C6FE4E51A3D05ACE 20.00
21 AUG SHOPEE SINGAPORE 8.50
22 AUG GRAB*11FCC478E9A6B9708 20.00
25 AUG SHAW THEATRES PL SHAW. 28.50
26 AUG GRAB*DFCA24F43BB5783AE 20.00
26 AUG THE DAILY CUT - ORP 9.00
26 AUG STBILL 254.32
28 AUG JEWEL CHANGI AIRPORT 13.50
29 AUG AN ACAI AFFAIR - JEWEL 9.50
30 AUG MDM LING B* MDMLINGBAK 47.40
30 AUG SHOPEEPAY 8.00
01 SEP SHOPEEPAY -8.00
02 SEP HANBAOBAO PTE. LTD. 49.80
04 SEP KREAM BEER 42.37
04 SEP MUCHACHOS - FRASERS 34.50
05 SEP BAKERY & BAR ST MARC 25.41
08 SEP SWEE HENG BAKERY-CL7 1.50
09 SEP SWEE HENG BAKERY-CL7 1.80
10 SEP YARDBIRD 140.06
12 SEP FINEST FUNAN 2.00
15 JUL GRAB*487A744E79FC5A74C 50.00
15 JUL GV DBO 25.00
17 JUL SHOPEE - SINGAPORE 12.49
21 JUL GRAB*F434B4F4AB82070D4 30.00
26 JUL GET IT BY CHANGI RECOM 55.99
30 JUL GRAB*6BA2D47E3AB10455A 30.00
31 JUL PIEDRA NEGRA 48.02
01 AUG THE BEAN HOPPERS PTE L 13.90
02 AUG LIBERTY WIRELESS PTE L 38.00
03 AUG GRAB*C52CB4F628AEF8A5F 10.00
08 AUG GRAB*00F314201B0CDD4D8 20.00
08 AUG GRAB*8BC7D45DA94823FAF 10.00
09 AUG GRAB*DDDED4EDD9E4DB08F 20.00
10 AUG SHOPEE - SINGAPORE 13.39
10 AUG SHOPEE SINGAPORE 8.50
11 AUG ZUI HONG LOU 204.80
11 AUG NTUC FP - CHINATOWN PT 21.65
13 AUG GRAB*7D19E41468B2D658B 10.00
05 JAN FLYSCOOT.S8DRQM_234118 -448.94
17 FEB GRAB *835550A013D14DAE 20.00
18 FEB GRAB *F280525E49D84DCC 10.00
18 FEB GRAB *D358B7FFA08F4AC7 10.00
21 FEB GRAB *8E17D641D11F43C9 50.00
22 FEB THE TINSEL RACK (EC) 34.40
22 FEB SP * THE SUNDAY AVENUE 40.00
22 FEB GRAB *3206DFDE3C0141A6 10.00
26 FEB GRAB *4C22A08C1B7644BF 10.00
27 FEB LAZADA SINGAPORE 15.39
02 MAR GRAB *FAC83A8B5ED34215 10.00
05 MAR GRAB *CDF76E68D8214709 20.00
06 MAR GRAB *55FB7E361AC34C9E 10.00
08 MAR AGODA.COM 178.24
11 MAR LIBERTY WIRELESS PTE L 48.00
12 MAR GRAB *68A7E02A72504F85 10.00
12 MAR SHOPEE - SINGAPORE 1,600.00
12 MAR SHOPEE - SINGAPORE 76.78
14 JAN HANBAOBAO PTE. LTD. 52.80
18 JAN GRAB *FF1841FBB9CA496D 10.00
18 JAN GRAB *071497B40C8D4AE5 10.00
19 JAN GRAB *C15209FD14474E26 10.00
20 JAN GRAB *D95D9F791CB44B8E 60.00
24 JAN GRAB *4CF8DBF1CE8243ED 20.00
05 FEB ECONOMIST SUBSCRIPTION WWW GB 257.55
07 FEB GRAB *55C4E732D4A2424C 10.00
10 FEB LIBERTY WIRELESS PTE L 48.00
12 FEB GRAB *4E84D87A0E924F93 10.00
16 DEC GRAB *04E7DF7B3B0D4A50 10.00
18 DEC ZaloraSG -24.27
18 DEC ZaloraSG -53.54
18 DEC GRAB *CC11E60772F843D7 10.00
19 DEC GRAB *2687262420027021 20.00
21 DEC GRAB *E2CCAC9A01004AD2 10.00
23 DEC GRAB *881F3DC4A0D0471E 20.00
24 DEC GRAB *B98D7DFBE7594ECB 10.00
24 DEC GRAB *4D6B78401DCD406D 10.00
24 DEC GRAB *A72041A9F37F4C93 10.00
26 DEC GRAB *B7AD0B7C12BE4BE5 10.00
28 DEC GRAB *597626A303534816 10.00
29 DEC GRAB *33B6D89A12D74A5C 30.00
31 DEC GRAB *84362D7168954BF4 138.00
31 DEC GRAB *5C19F9AB02C343E8 40.00
05 JAN FLYSCOOT.00000000S8DRQ 448.94
09 JAN RELC EB (CEA) 417.30
10 JAN LIBERTY WIRELESS PTE L 48.00
12 JAN ANNUAL FEE 180.00
13 JAN GST @ 7% 12.60
15 OCT SHOPEE - SINGAPORE 4.65
16 OCT SHAKE SHACK-NEIL RD 42.10
20 OCT TENDON KOHAKU 17.66
22 OCT SHOPEE - SINGAPORE 5.90
23 OCT THE COFFEE BEAN-CAM 8.20
23 OCT AZMAYA 98.40
24 OCT JANNPAUL 500.00
25 OCT FAIRPRICE XTRA-AMK 24.00
25 OCT GRAB* ACF54A4729CCF28A 10.00
30 OCT BURGER & LOBSTER 91.81
30 OCT NATURELAND ORCHARD POI 203.30
30 OCT FAMOUS AMOS - WISMA AT 11.70
30 OCT GATHER 61.20
30 OCT SHOPEE - SINGAPORE 37.99
31 OCT DECATHLON CENTREPOINT 60.00
31 OCT THE COFFEE BEAN-WISMA 7.50
02 NOV SULTANS OF SHAVE - DU 55.00
02 NOV TESS BAR & KITCHEN 216.57
06 NOV GRAB* A5CDB4F0B4086951 10.00
06 NOV LADY WU 66.80
07 NOV BTV GROUP PTE LTD - NA 98.10
09 NOV UNIQLO SINGAPORE 244.20
09 NOV NTUC FP-HOUGANG A 5.40
09 NOV NTUC FP-HOUGANG A 2.00
09 NOV GHBASS VIA FEDEX 120-368-3489 FL 126.38
11 NOV ZALORASG 61.31
11 NOV WWW.ASOS.COM 02077561000 GB 66.45
13 NOV 01LAZADA-DBS ONLINE IPP 06 (02) 153.16
13 APR SHOPEE - SINGAPORE 23.88
16 APR GRAB *B43608E16EE04E56 20.00
16 APR SHOPEE - SINGAPORE 31.88
18 APR SHOPEE - SINGAPORE 11.68
20 APR GRAB *CA879A25577B453B 50.00
21 APR GRAB *6FD4FFBDB7194F3C 50.00
21 APR GRAB *075883E65135474B 20.00
22 APR GRAB *F41BF5A1A08C4517 20.00
23 APR GRAB *42896BDC318046CE 30.00
26 APR SHOPEE - SINGAPORE 4.00
28 APR SHOPEE - SINGAPORE 3.00
29 APR GRAB *AD0F7112DC434D3F 30.00
03 MAY LIBERTY WIRELESS PTE L 38.00
03 MAY GRAB *C834F57167B84C26 50.00
06 MAY SHOPEE - SINGAPORE 26.39
09 MAY SHOPEE - SINGAPORE 5.50
11 MAY GRAB *541D4DB3EDF846EA 100.00
14 MAR GRAB *CDDA8906867F4617 50.00
18 MAR GRAB *C1DBB01A3F4A451F 40.00
18 MAR RELC EB (CEA) -417.30
24 MAR GRAB *6AD2E1B59BD640E2 50.00
30 MAR GRAB *B6491104E73A4F56 20.00
01 APR GRAB *70A771113E6A4AE6 10.00
02 APR GRAB *F5F2204FF85043DF 50.00
02 APR AGODA.COM -178.24
05 APR LIBERTY WIRELESS PTE L 38.00
06 APR GRAB *76D6C076D9884E34 30.00
07 APR SHOPEE - SINGAPORE 2.65
09 APR SHOPEE - SINGAPORE 12.40
09 APR SHOPEE - SINGAPORE 14.90
18 SEP AJIYA OKONOMIYAKI REST 56.76
19 SEP TIPO 44.75
20 SEP LAZADA SINGAPORE 10.00
20 SEP SHOPEE - SINGAPORE 19.43
20 SEP FAIRPRICE XTRA-NEX MAL 3.80
21 SEP SULTANS OF SHAVE - DU 55.00
24 SEP MAD FOR GARLIC-SUNTEC 66.35
24 SEP ROUTE 65 75.40
26 SEP THE FULLERTON BAY HOTE 110.05
27 SEP TEXAS CHICKEN NEX 13.30
03 OCT OMOTE 57.20
06 OCT GRAB* 8522A41C02D9EFF8 10.00
06 OCT SHOPEE - SINGAPORE 13.95
07 OCT GUARDIAN RAFFLES PL MR 14.90
10 OCT POPEYES - AMK 11.80
10 OCT FAIRPRICE XTRA-AMK 22.45
12 OCT COLD STORAGE HOUGANG 11.00
14 OCT 01LAZADA-DBS ONLINE IPP 06 (01) 153.16
20 MAY GRAB *DADA0FDDA2C34AF6 70.00
26 MAY SHOPEEPAY 25.50
27 MAY APPLE ONLINE STORE - S 1,884.00
28 MAY BEST DENKI SINGAPORE P 2,598.00
02 JUN LIBERTY WIRELESS PTE L 38.00
08 JUN GRAB *C8A0434CD9AC43ED 20.00
12 NOV LAZADA SINGAPORE (PAYM 13.39
13 NOV GRAB* BF5684F0017318B3 40.00
15 NOV FAIRPRICE XTRA-AMK 26.00
15 NOV AMAZON SG 177.03
15 NOV STARBUCKS@AMK HUB(AMK) 10.43
15 NOV AMAZON SG 134.59
16 NOV UNIQLO CITY SQUARE 67.70
16 NOV DECATHLON SG LAB 66.00
16 NOV BANANA LEAF 55.30
20 NOV ZaloraSG -19.51
20 NOV TENDON KOHAKU 35.31
20 NOV GRAB* S-26872624-8-462 11.00
20 NOV MCDONALD'S (HG) 3.20
20 NOV MCDONALD'S (HG) 20.15
22 NOV MCDONALD'S (SHHG) 7.20
23 NOV NTUC FP-HOUGANG A 11.65
23 NOV ESSO-CHEERS BY FP 45.00
27 NOV ZALORASG 95.73
27 NOV LAZADA SINGAPORE 55.20
27 NOV OMOTE 76.03
27 NOV SHOPEE - SINGAPORE 3.84
27 NOV SHOPEE SINGAPORE 4.25
28 NOV GRAB* A96461585C435436 10.00
29 NOV SPC 1351 ANG MO KIO AV 8.50
01 DEC GRAB* AD19385300C29104 10.00
02 DEC WOK HEY - CHINATOWN PO 6.80
03 DEC RAFFLES MEDICAL-HOUGAN 27.20
04 DEC GRUB 58.85
05 DEC FAIRPRICE XTRA-AMK 59.65
07 DEC NTUC FP-HOUGANG A 12.20
11 DEC GRAB* AD3DC9087F1FC0D3 10.00
11 DEC GRAB* 8BCF36C0940DD88F 10.00
12 DEC WATSON'S 1.60
12 DEC CIRCL FOOD & BEVERAGE 97.37
14 DEC 01LAZADA-DBS ONLINE IPP 06 (03) 153.16
15 JUN GRAB *75F5BF65A71D43DA 10.00
16 JUN SHOPEEPAY 16.69
17 JUN SHOPEE - SINGAPORE 1.85
19 JUN PAYPAL *TBB 58.50
24 JUN GRAB *B2268655FCC64C91 20.00
24 JUN SHOPEE - SINGAPORE 2.58
02 JUL LIBERTY WIRELESS PTE L 38.00
04 JUL KLOOK TRAVEL TECHNOLOG 15.00
06 JUL GRAB *F24A093F950A4451 10.00
08 JUL GRAB *DDACB7296B8940D6 20.00
08 JUL GRAB *222AA67AA50F463B 10.00
11 JUL GET IT BY CHANGI RECOM 117.50
13 JUL GRAB *B781106ED5B2475E 20.00
04 AUG PAYMT THRU E-BANK/HOMEB/CYBERB (EP12) -1,549.38
08 AUG CR LATE CHARGE -100.00
11 AUG UOB YOLO Cash Rebate -36.60
17 JUL JOO SINGAPORE 124.75
21 JUL KKH-SELF PAYMENT KIOSK 19SINGAPORE 254.66
25 JUL TWO MEN BAGELS- MM SINGAPORE 29.02
29 JUL THE DAILY CUT - ORP SINGAPORE 9.00
30 JUL NTUC FP - CHINATOWN PT SINGAPORE 11.80
03 AUG LATE CHARGES 100.00
03 AUG OVERLIMIT FEE 40.00
09 AUG Hanbaobao Pte. Ltd. SINGAPORE 35.30
09 AUG GOMO MOBILE PLAN SINGAPORE 30.00
12 AUG INTERESTS 45.27
19 AUG PAYMT THRU E-BANK/HOMEB/CYBERB (EP11) -543.20
01 SEP CR INTEREST -45.27
01 SEP CR OVERLIMIT FEE -40.00
11 SEP UOB YOLO Cash Rebate -1.48
28 AUG BP-HONG JJA JANG SINGAPORE 60.03
29 AUG TANUKI RAW SINGAPORE 56.40
16 SEP PAYMT THRU E-BANK/HOMEB/CYBERB (EP57) -29.68
10 OCT UOB YOLO Cash Rebate -0.35
13 SEP GOMO MOBILE PLAN SINGAPORE 30.00
23 SEP HAI DI LAO - MARINA SQ SINGAPORE 135.30
30 SEP CARD MEMBERSHIP FEE -INCLUSIVE OF GST 192.60
01 APR PAYMT THRU E-BANK/HOMEB/CYBERB (EP34) -638.04
09 APR UOB YOLO Cash Rebate -22.86
12 MAR WATSON'S SINGAPORE 6.20
13 MAR GUARDIAN PLAZA SINGAPURA SINGAPORE 10.00
13 MAR LAZADA SINGAPORE (Paym SINGAPORE 314.09
16 MAR GENKI SUSHI - CTP SG 43.67
16 MAR LAZADA SINGAPORE (Paym SINGAPORE 21.99
17 MAR Hotel on Booking.com Amsterdam 152.17
20 MAR URBAN SPA SINGAPORE 20.00
20 MAR LUCHA LOCO SINGAPORE 67.09
20 MAR KORYO MART TANJONG PAGAR SINGAPORE 12.60
21 MAR COLD STORAGE HOUGANG SINGAPORE 13.07
25 MAR WATSON'S SINGAPORE 10.20
25 MAR XIN WANG HK CAFE-HEARTLANSINGAPORE 41.43
27 MAR Lazada Singapore 126.25
07 APR Lazada RedMart Singapore 46.67
28 APR PAYMT THRU E-BANK/HOMEB/CYBERB (EP31) -862.57
11 MAY UOB YOLO Cash Rebate -6.70
20 APR Lazada RedMart Singapore 63.10
28 APR Lazada RedMart Singapore 43.83
29 APR STRANGERS REUNION SINGAPORE 54.46
29 APR Lazada Singapore 83.49
08 MAY AMAZON RETAIL SINGAPORE 79.33
28 OCT PAYMT THRU E-BANK/HOMEB/CYBERB (EP37) -357.55
28 OCT CR CARD MEMBERSHIP FEE - INC OF GST -192.60
11 NOV UOB YOLO Cash Rebate -0.50
13 OCT GOMO MOBILE PLAN SINGAPORE 30.00
24 JUN PAYMT THRU E-BANK/HOMEB/CYBERB (EP21) -115.93
09 JUL UOB YOLO Cash Rebate -0.35
23 JUN IKEA SINGAPORE 9.70
25 JUN WINDFLOWER FLORIST SINGAPORE 56.70
27 JUN HENRI CHARPENTIER ORCHARDSINGAPORE 17.70
27 JUN THEFATCOW SINGAPORE 112.99
27 JUN NATURELAND ORCHARD POINT SINGAPORE 101.65
27 JUN BINOMIO SPANISH RESTAURANSINGAPORE 171.04
29 JUN WHEAT - ONE RAFFLES PL SINGAPORE 12.00
30 JUN YA KUN CAFE PTE LTD SINGAPORE 1.60
01 JUL GENKI SUSHI - CTP SG 36.02
01 JUL YA KUN CAFE PTE LTD SINGAPORE 1.60
02 JUL THE SALTED PLUM SINGAPORE 37.66
04 JUL WTRAJUMMAS-FUNAN 6586988741 40.84
04 JUL MOHAN'S CUSTOM TAILORS 19SINGAPORE 304.95
04 JUL TAKASHIMAYA (S) LTD SINGAPORE 89.00
04 JUL TAKASHIMAYA (S) LTD SINGAPORE 124.60
04 JUL UNIQLO ION SINGAPORE 39.90
04 JUL THOMSON WOMEN CLINIC-TP SINGAPORE 267.50
08 JUL SULTANS OF SHAVE - DUXTOSINGAPORE 55.00
11 JUL COLD STORAGE HOUGANG SINGAPORE 26.98
11 JUL CSHH COFFEE BAR SINGAPORE 42.30
11 DEC UOB YOLO Cash Rebate -0.09
12 NOV GOMO MOBILE PLAN SINGAPORE 30.00
29 MAY PAYMT THRU E-BANK/HOMEB/CYBERB (EP47) -317.51
11 JUN UOB YOLO Cash Rebate -0.97
13 MAY WATSON'S SINGAPORE 10.78
13 MAY SULTANS OF SHAVE SINGAPORE 45.00
26 MAY Lazada RedMart Singapore 61.12
28 JAN PAYMT THRU E-BANK/HOMEB/CYBERB (EP44) -619.17
11 FEB UOB YOLO Cash Rebate -20.23
22 NOV ISKINA CEBU SINGAPORE 11.00
11 JAN HOMEGROUND COFFEE ROAS SINGAPORE 13.50
11 JAN SPORE SPORTS HUB-NS LVL 3SINGAPORE 5.50
11 JAN MCDONALD'S (KAL) SINGAPORE 20.40
15 JAN TOASTBOX - TIONG BAHRU SINGAPORE 1.70
16 JAN SULTANS OF SHAVE SINGAPORE 55.00
16 JAN Park Bench Delicatessen PSingapore 32.10
18 JAN TAKASHIMAYA (S) LTD SINGAPORE 26.80
18 JAN SHENG KEE ION SINGAPORE 7.89
20 JAN GENKI SUSHI - CTP SG 33.79
22 JAN MOOKATA @KATONG SINGAPORE 53.91
23 JAN MCDONALD'S (HG) SINGAPORE 10.00
24 JAN TOAST BOX - PZ SING SINGAPORE 4.70
01 FEB KUISHIN BO SINGAPORE 93.92
09 FEB THE BOILER SINGAPORE 225.16
10 FEB GUARDIAN - CENTREPOINT SINGAPORE 15.90
29 FEB PAYMT THRU E-BANK/HOMEB/CYBERB (EP14) -591.04
11 MAR UOB YOLO Cash Rebate -36.04
14 FEB LAWRY'S THE PRIME RIB SINGAPORE 200.42
15 FEB NTUC FP-HOUGANG A SINGAPORE 18.80
17 FEB GA YA GEUM KOREAN REST SINGAPORE 50.60
19 FEB MCDONALD'S (KAL) SINGAPORE 18.85
20 FEB KAMPONG CAFE @ BM SINGAPORE 9.00
22 FEB COLD STORAGE-JELITA SHOPPSINGAPORE 12.75
26 FEB SORO SINGAPORE 31.78
26 FEB YA KUN KAYA TOAST SINGAPORE 4.60
26 FEB SULTANS OF SHAVE SINGAPORE 55.00
29 FEB COLUMBUS COFFEE CO. SINGAPORE 53.00
29 FEB MCDONALD'S (HG) SINGAPORE 16.75
04 MAR YA KUN KAYA TOAST SINGAPORE 4.60
05 MAR THREE BUNS QUAYSIDE SINGAPORE 88.28
06 MAR SHAKE SHACK-NEIL RD SINGAPORE 37.00
08 MAR The Bean Hoppers Pte Ltd Singapore 30.50
11 MAR NIPONG NAEPONG-313 SINGAPORE 42.15
30 DEC PAYMT THRU E-BANK/HOMEB/CYBERB (EP38) -736.22
10 JAN UOB YOLO Cash Rebate -43.62
09 DEC VANIDAY*509234 SINGAPORE 44.00
13 DEC WATSON'S SINGAPORE 24.23
14 DEC NATIVE SINGAPORE 67.10
16 DEC BROTHERS RAMEN SINGAPORE 26.80
18 DEC TOAST BOX - PZ SING SINGAPORE 1.80
19 DEC TOAST BOX - PZ SING SINGAPORE 4.50
24 DEC MING SAN CASUAL JAPANESE SINGAPORE 33.00
25 DEC GUZMAN Y GOMEZ SINGAPORE 18.80
26 DEC TOAST BOX - PZ SING SINGAPORE 1.80
27 DEC AMBER EMBER SINGAPORE 26.00
27 DEC 7-ELEVEN -KENSINGTON SINGAPORE 5.35
28 DEC POPULUS SINGAPORE 74.74
31 DEC SEPHORA-SUNTEC CITY SINGAPORE 138.00
03 JAN THE COCONUT CLUB SINGAPORE 30.14
03 JAN GEM BAR SINGAPORE 069 20.01
04 JAN MUJI @ ION ORCHARD SINGAPORE 8.20
06 JAN UNIQLO TIONG BAHRU PLAZA SINGAPORE 29.90
06 JAN TONGUE TIP LZ BEEF NOODLESINGAPORE 19.05
08 JAN FIVE GUYS SINGAPORE 51.00
10 JAN KAI SUSHI & KOBATAYAKI SINGAPORE 38.37

Understanding double for loops in list comprehensions: https://stackoverflow.com/questions/17657720/python-list-comprehension-double-for.

[A for B in C for D in E]
- A is the item in the resulting list
- D is each item in collection E

In [39]:
categorized_txns = [{"Date": " ".join(txn[0:2]), "Txn Desc": " ".join(txn[2:len(txn)-1]), "Amt": txn[-1]} for monthly_txns in all_txns for txn in monthly_txns]
categorized_txns

[{'Date': '13 AUG', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '5.68'},
 {'Date': '14 AUG', 'Txn Desc': 'ISTANBLUE MEZE - MM', 'Amt': '26.30'},
 {'Date': '14 AUG', 'Txn Desc': 'SULTANS OF SHAVE - DU', 'Amt': '55.00'},
 {'Date': '20 AUG', 'Txn Desc': 'GRAB*8C6FE4E51A3D05ACE', 'Amt': '20.00'},
 {'Date': '21 AUG', 'Txn Desc': 'SHOPEE SINGAPORE', 'Amt': '8.50'},
 {'Date': '22 AUG', 'Txn Desc': 'GRAB*11FCC478E9A6B9708', 'Amt': '20.00'},
 {'Date': '25 AUG', 'Txn Desc': 'SHAW THEATRES PL SHAW.', 'Amt': '28.50'},
 {'Date': '26 AUG', 'Txn Desc': 'GRAB*DFCA24F43BB5783AE', 'Amt': '20.00'},
 {'Date': '26 AUG', 'Txn Desc': 'THE DAILY CUT - ORP', 'Amt': '9.00'},
 {'Date': '26 AUG', 'Txn Desc': 'STBILL', 'Amt': '254.32'},
 {'Date': '28 AUG', 'Txn Desc': 'JEWEL CHANGI AIRPORT', 'Amt': '13.50'},
 {'Date': '29 AUG', 'Txn Desc': 'AN ACAI AFFAIR - JEWEL', 'Amt': '9.50'},
 {'Date': '30 AUG', 'Txn Desc': 'MDM LING B* MDMLINGBAK', 'Amt': '47.40'},
 {'Date': '30 AUG', 'Txn Desc': 'SHOPEEPAY', 'Amt': '8.00'},
 {'Date': '01 SEP', 'Txn Desc': 'SHOPEEPAY', 'Amt': '-8.00'},
 {'Date': '02 SEP', 'Txn Desc': 'HANBAOBAO PTE. LTD.', 'Amt': '49.80'},
 {'Date': '04 SEP', 'Txn Desc': 'KREAM BEER', 'Amt': '42.37'},
 {'Date': '04 SEP', 'Txn Desc': 'MUCHACHOS - FRASERS', 'Amt': '34.50'},
 {'Date': '05 SEP', 'Txn Desc': 'BAKERY & BAR ST MARC', 'Amt': '25.41'},
 {'Date': '08 SEP', 'Txn Desc': 'SWEE HENG BAKERY-CL7', 'Amt': '1.50'},
 {'Date': '09 SEP', 'Txn Desc': 'SWEE HENG BAKERY-CL7', 'Amt': '1.80'},
 {'Date': '10 SEP', 'Txn Desc': 'YARDBIRD', 'Amt': '140.06'},
 {'Date': '12 SEP', 'Txn Desc': 'FINEST FUNAN', 'Amt': '2.00'},
 {'Date': '15 JUL', 'Txn Desc': 'GRAB*487A744E79FC5A74C', 'Amt': '50.00'},
 {'Date': '15 JUL', 'Txn Desc': 'GV DBO', 'Amt': '25.00'},
 {'Date': '17 JUL', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '12.49'},
 {'Date': '21 JUL', 'Txn Desc': 'GRAB*F434B4F4AB82070D4', 'Amt': '30.00'},
 {'Date': '26 JUL', 'Txn Desc': 'GET IT BY CHANGI RECOM', 'Amt': '55.99'},
 {'Date': '30 JUL', 'Txn Desc': 'GRAB*6BA2D47E3AB10455A', 'Amt': '30.00'},
 {'Date': '31 JUL', 'Txn Desc': 'PIEDRA NEGRA', 'Amt': '48.02'},
 {'Date': '01 AUG', 'Txn Desc': 'THE BEAN HOPPERS PTE L', 'Amt': '13.90'},
 {'Date': '02 AUG', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '38.00'},
 {'Date': '03 AUG', 'Txn Desc': 'GRAB*C52CB4F628AEF8A5F', 'Amt': '10.00'},
 {'Date': '08 AUG', 'Txn Desc': 'GRAB*00F314201B0CDD4D8', 'Amt': '20.00'},
 {'Date': '08 AUG', 'Txn Desc': 'GRAB*8BC7D45DA94823FAF', 'Amt': '10.00'},
 {'Date': '09 AUG', 'Txn Desc': 'GRAB*DDDED4EDD9E4DB08F', 'Amt': '20.00'},
 {'Date': '10 AUG', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '13.39'},
 {'Date': '10 AUG', 'Txn Desc': 'SHOPEE SINGAPORE', 'Amt': '8.50'},
 {'Date': '11 AUG', 'Txn Desc': 'ZUI HONG LOU', 'Amt': '204.80'},
 {'Date': '11 AUG', 'Txn Desc': 'NTUC FP - CHINATOWN PT', 'Amt': '21.65'},
 {'Date': '13 AUG', 'Txn Desc': 'GRAB*7D19E41468B2D658B', 'Amt': '10.00'},
 {'Date': '05 JAN', 'Txn Desc': 'FLYSCOOT.S8DRQM_234118', 'Amt': '-448.94'},
 {'Date': '17 FEB', 'Txn Desc': 'GRAB *835550A013D14DAE', 'Amt': '20.00'},
 {'Date': '18 FEB', 'Txn Desc': 'GRAB *F280525E49D84DCC', 'Amt': '10.00'},
 {'Date': '18 FEB', 'Txn Desc': 'GRAB *D358B7FFA08F4AC7', 'Amt': '10.00'},
 {'Date': '21 FEB', 'Txn Desc': 'GRAB *8E17D641D11F43C9', 'Amt': '50.00'},
 {'Date': '22 FEB', 'Txn Desc': 'THE TINSEL RACK (EC)', 'Amt': '34.40'},
 {'Date': '22 FEB', 'Txn Desc': 'SP * THE SUNDAY AVENUE', 'Amt': '40.00'},
 {'Date': '22 FEB', 'Txn Desc': 'GRAB *3206DFDE3C0141A6', 'Amt': '10.00'},
 {'Date': '26 FEB', 'Txn Desc': 'GRAB *4C22A08C1B7644BF', 'Amt': '10.00'},
 {'Date': '27 FEB', 'Txn Desc': 'LAZADA SINGAPORE', 'Amt': '15.39'},
 {'Date': '02 MAR', 'Txn Desc': 'GRAB *FAC83A8B5ED34215', 'Amt': '10.00'},
 {'Date': '05 MAR', 'Txn Desc': 'GRAB *CDF76E68D8214709', 'Amt': '20.00'},
 {'Date': '06 MAR', 'Txn Desc': 'GRAB *55FB7E361AC34C9E', 'Amt': '10.00'},
 {'Date': '08 MAR', 'Txn Desc': 'AGODA.COM', 'Amt': '178.24'},
 {'Date': '11 MAR', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '48.00'},
 {'Date': '12 MAR', 'Txn Desc': 'GRAB *68A7E02A72504F85', 'Amt': '10.00'},
 {'Date': '12 MAR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '1,600.00'},
 {'Date': '12 MAR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '76.78'},
 {'Date': '14 JAN', 'Txn Desc': 'HANBAOBAO PTE. LTD.', 'Amt': '52.80'},
 {'Date': '18 JAN', 'Txn Desc': 'GRAB *FF1841FBB9CA496D', 'Amt': '10.00'},
 {'Date': '18 JAN', 'Txn Desc': 'GRAB *071497B40C8D4AE5', 'Amt': '10.00'},
 {'Date': '19 JAN', 'Txn Desc': 'GRAB *C15209FD14474E26', 'Amt': '10.00'},
 {'Date': '20 JAN', 'Txn Desc': 'GRAB *D95D9F791CB44B8E', 'Amt': '60.00'},
 {'Date': '24 JAN', 'Txn Desc': 'GRAB *4CF8DBF1CE8243ED', 'Amt': '20.00'},
 {'Date': '05 FEB',
  'Txn Desc': 'ECONOMIST SUBSCRIPTION WWW GB',
  'Amt': '257.55'},
 {'Date': '07 FEB', 'Txn Desc': 'GRAB *55C4E732D4A2424C', 'Amt': '10.00'},
 {'Date': '10 FEB', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '48.00'},
 {'Date': '12 FEB', 'Txn Desc': 'GRAB *4E84D87A0E924F93', 'Amt': '10.00'},
 {'Date': '16 DEC', 'Txn Desc': 'GRAB *04E7DF7B3B0D4A50', 'Amt': '10.00'},
 {'Date': '18 DEC', 'Txn Desc': 'ZaloraSG', 'Amt': '-24.27'},
 {'Date': '18 DEC', 'Txn Desc': 'ZaloraSG', 'Amt': '-53.54'},
 {'Date': '18 DEC', 'Txn Desc': 'GRAB *CC11E60772F843D7', 'Amt': '10.00'},
 {'Date': '19 DEC', 'Txn Desc': 'GRAB *2687262420027021', 'Amt': '20.00'},
 {'Date': '21 DEC', 'Txn Desc': 'GRAB *E2CCAC9A01004AD2', 'Amt': '10.00'},
 {'Date': '23 DEC', 'Txn Desc': 'GRAB *881F3DC4A0D0471E', 'Amt': '20.00'},
 {'Date': '24 DEC', 'Txn Desc': 'GRAB *B98D7DFBE7594ECB', 'Amt': '10.00'},
 {'Date': '24 DEC', 'Txn Desc': 'GRAB *4D6B78401DCD406D', 'Amt': '10.00'},
 {'Date': '24 DEC', 'Txn Desc': 'GRAB *A72041A9F37F4C93', 'Amt': '10.00'},
 {'Date': '26 DEC', 'Txn Desc': 'GRAB *B7AD0B7C12BE4BE5', 'Amt': '10.00'},
 {'Date': '28 DEC', 'Txn Desc': 'GRAB *597626A303534816', 'Amt': '10.00'},
 {'Date': '29 DEC', 'Txn Desc': 'GRAB *33B6D89A12D74A5C', 'Amt': '30.00'},
 {'Date': '31 DEC', 'Txn Desc': 'GRAB *84362D7168954BF4', 'Amt': '138.00'},
 {'Date': '31 DEC', 'Txn Desc': 'GRAB *5C19F9AB02C343E8', 'Amt': '40.00'},
 {'Date': '05 JAN', 'Txn Desc': 'FLYSCOOT.00000000S8DRQ', 'Amt': '448.94'},
 {'Date': '09 JAN', 'Txn Desc': 'RELC EB (CEA)', 'Amt': '417.30'},
 {'Date': '10 JAN', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '48.00'},
 {'Date': '12 JAN', 'Txn Desc': 'ANNUAL FEE', 'Amt': '180.00'},
 {'Date': '13 JAN', 'Txn Desc': 'GST @ 7%', 'Amt': '12.60'},
 {'Date': '15 OCT', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '4.65'},
 {'Date': '16 OCT', 'Txn Desc': 'SHAKE SHACK-NEIL RD', 'Amt': '42.10'},
 {'Date': '20 OCT', 'Txn Desc': 'TENDON KOHAKU', 'Amt': '17.66'},
 {'Date': '22 OCT', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '5.90'},
 {'Date': '23 OCT', 'Txn Desc': 'THE COFFEE BEAN-CAM', 'Amt': '8.20'},
 {'Date': '23 OCT', 'Txn Desc': 'AZMAYA', 'Amt': '98.40'},
 {'Date': '24 OCT', 'Txn Desc': 'JANNPAUL', 'Amt': '500.00'},
 {'Date': '25 OCT', 'Txn Desc': 'FAIRPRICE XTRA-AMK', 'Amt': '24.00'},
 {'Date': '25 OCT', 'Txn Desc': 'GRAB* ACF54A4729CCF28A', 'Amt': '10.00'},
 {'Date': '30 OCT', 'Txn Desc': 'BURGER & LOBSTER', 'Amt': '91.81'},
 {'Date': '30 OCT', 'Txn Desc': 'NATURELAND ORCHARD POI', 'Amt': '203.30'},
 {'Date': '30 OCT', 'Txn Desc': 'FAMOUS AMOS - WISMA AT', 'Amt': '11.70'},
 {'Date': '30 OCT', 'Txn Desc': 'GATHER', 'Amt': '61.20'},
 {'Date': '30 OCT', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '37.99'},
 {'Date': '31 OCT', 'Txn Desc': 'DECATHLON CENTREPOINT', 'Amt': '60.00'},
 {'Date': '31 OCT', 'Txn Desc': 'THE COFFEE BEAN-WISMA', 'Amt': '7.50'},
 {'Date': '02 NOV', 'Txn Desc': 'SULTANS OF SHAVE - DU', 'Amt': '55.00'},
 {'Date': '02 NOV', 'Txn Desc': 'TESS BAR & KITCHEN', 'Amt': '216.57'},
 {'Date': '06 NOV', 'Txn Desc': 'GRAB* A5CDB4F0B4086951', 'Amt': '10.00'},
 {'Date': '06 NOV', 'Txn Desc': 'LADY WU', 'Amt': '66.80'},
 {'Date': '07 NOV', 'Txn Desc': 'BTV GROUP PTE LTD - NA', 'Amt': '98.10'},
 {'Date': '09 NOV', 'Txn Desc': 'UNIQLO SINGAPORE', 'Amt': '244.20'},
 {'Date': '09 NOV', 'Txn Desc': 'NTUC FP-HOUGANG A', 'Amt': '5.40'},
 {'Date': '09 NOV', 'Txn Desc': 'NTUC FP-HOUGANG A', 'Amt': '2.00'},
 {'Date': '09 NOV',
  'Txn Desc': 'GHBASS VIA FEDEX 120-368-3489 FL',
  'Amt': '126.38'},
 {'Date': '11 NOV', 'Txn Desc': 'ZALORASG', 'Amt': '61.31'},
 {'Date': '11 NOV', 'Txn Desc': 'WWW.ASOS.COM 02077561000 GB', 'Amt': '66.45'},
 {'Date': '13 NOV',
  'Txn Desc': '01LAZADA-DBS ONLINE IPP 06 (02)',
  'Amt': '153.16'},
 {'Date': '13 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '23.88'},
 {'Date': '16 APR', 'Txn Desc': 'GRAB *B43608E16EE04E56', 'Amt': '20.00'},
 {'Date': '16 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '31.88'},
 {'Date': '18 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '11.68'},
 {'Date': '20 APR', 'Txn Desc': 'GRAB *CA879A25577B453B', 'Amt': '50.00'},
 {'Date': '21 APR', 'Txn Desc': 'GRAB *6FD4FFBDB7194F3C', 'Amt': '50.00'},
 {'Date': '21 APR', 'Txn Desc': 'GRAB *075883E65135474B', 'Amt': '20.00'},
 {'Date': '22 APR', 'Txn Desc': 'GRAB *F41BF5A1A08C4517', 'Amt': '20.00'},
 {'Date': '23 APR', 'Txn Desc': 'GRAB *42896BDC318046CE', 'Amt': '30.00'},
 {'Date': '26 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '4.00'},
 {'Date': '28 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '3.00'},
 {'Date': '29 APR', 'Txn Desc': 'GRAB *AD0F7112DC434D3F', 'Amt': '30.00'},
 {'Date': '03 MAY', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '38.00'},
 {'Date': '03 MAY', 'Txn Desc': 'GRAB *C834F57167B84C26', 'Amt': '50.00'},
 {'Date': '06 MAY', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '26.39'},
 {'Date': '09 MAY', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '5.50'},
 {'Date': '11 MAY', 'Txn Desc': 'GRAB *541D4DB3EDF846EA', 'Amt': '100.00'},
 {'Date': '14 MAR', 'Txn Desc': 'GRAB *CDDA8906867F4617', 'Amt': '50.00'},
 {'Date': '18 MAR', 'Txn Desc': 'GRAB *C1DBB01A3F4A451F', 'Amt': '40.00'},
 {'Date': '18 MAR', 'Txn Desc': 'RELC EB (CEA)', 'Amt': '-417.30'},
 {'Date': '24 MAR', 'Txn Desc': 'GRAB *6AD2E1B59BD640E2', 'Amt': '50.00'},
 {'Date': '30 MAR', 'Txn Desc': 'GRAB *B6491104E73A4F56', 'Amt': '20.00'},
 {'Date': '01 APR', 'Txn Desc': 'GRAB *70A771113E6A4AE6', 'Amt': '10.00'},
 {'Date': '02 APR', 'Txn Desc': 'GRAB *F5F2204FF85043DF', 'Amt': '50.00'},
 {'Date': '02 APR', 'Txn Desc': 'AGODA.COM', 'Amt': '-178.24'},
 {'Date': '05 APR', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '38.00'},
 {'Date': '06 APR', 'Txn Desc': 'GRAB *76D6C076D9884E34', 'Amt': '30.00'},
 {'Date': '07 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '2.65'},
 {'Date': '09 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '12.40'},
 {'Date': '09 APR', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '14.90'},
 {'Date': '18 SEP', 'Txn Desc': 'AJIYA OKONOMIYAKI REST', 'Amt': '56.76'},
 {'Date': '19 SEP', 'Txn Desc': 'TIPO', 'Amt': '44.75'},
 {'Date': '20 SEP', 'Txn Desc': 'LAZADA SINGAPORE', 'Amt': '10.00'},
 {'Date': '20 SEP', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '19.43'},
 {'Date': '20 SEP', 'Txn Desc': 'FAIRPRICE XTRA-NEX MAL', 'Amt': '3.80'},
 {'Date': '21 SEP', 'Txn Desc': 'SULTANS OF SHAVE - DU', 'Amt': '55.00'},
 {'Date': '24 SEP', 'Txn Desc': 'MAD FOR GARLIC-SUNTEC', 'Amt': '66.35'},
 {'Date': '24 SEP', 'Txn Desc': 'ROUTE 65', 'Amt': '75.40'},
 {'Date': '26 SEP', 'Txn Desc': 'THE FULLERTON BAY HOTE', 'Amt': '110.05'},
 {'Date': '27 SEP', 'Txn Desc': 'TEXAS CHICKEN NEX', 'Amt': '13.30'},
 {'Date': '03 OCT', 'Txn Desc': 'OMOTE', 'Amt': '57.20'},
 {'Date': '06 OCT', 'Txn Desc': 'GRAB* 8522A41C02D9EFF8', 'Amt': '10.00'},
 {'Date': '06 OCT', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '13.95'},
 {'Date': '07 OCT', 'Txn Desc': 'GUARDIAN RAFFLES PL MR', 'Amt': '14.90'},
 {'Date': '10 OCT', 'Txn Desc': 'POPEYES - AMK', 'Amt': '11.80'},
 {'Date': '10 OCT', 'Txn Desc': 'FAIRPRICE XTRA-AMK', 'Amt': '22.45'},
 {'Date': '12 OCT', 'Txn Desc': 'COLD STORAGE HOUGANG', 'Amt': '11.00'},
 {'Date': '14 OCT',
  'Txn Desc': '01LAZADA-DBS ONLINE IPP 06 (01)',
  'Amt': '153.16'},
 {'Date': '20 MAY', 'Txn Desc': 'GRAB *DADA0FDDA2C34AF6', 'Amt': '70.00'},
 {'Date': '26 MAY', 'Txn Desc': 'SHOPEEPAY', 'Amt': '25.50'},
 {'Date': '27 MAY', 'Txn Desc': 'APPLE ONLINE STORE - S', 'Amt': '1,884.00'},
 {'Date': '28 MAY', 'Txn Desc': 'BEST DENKI SINGAPORE P', 'Amt': '2,598.00'},
 {'Date': '02 JUN', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '38.00'},
 {'Date': '08 JUN', 'Txn Desc': 'GRAB *C8A0434CD9AC43ED', 'Amt': '20.00'},
 {'Date': '12 NOV', 'Txn Desc': 'LAZADA SINGAPORE (PAYM', 'Amt': '13.39'},
 {'Date': '13 NOV', 'Txn Desc': 'GRAB* BF5684F0017318B3', 'Amt': '40.00'},
 {'Date': '15 NOV', 'Txn Desc': 'FAIRPRICE XTRA-AMK', 'Amt': '26.00'},
 {'Date': '15 NOV', 'Txn Desc': 'AMAZON SG', 'Amt': '177.03'},
 {'Date': '15 NOV', 'Txn Desc': 'STARBUCKS@AMK HUB(AMK)', 'Amt': '10.43'},
 {'Date': '15 NOV', 'Txn Desc': 'AMAZON SG', 'Amt': '134.59'},
 {'Date': '16 NOV', 'Txn Desc': 'UNIQLO CITY SQUARE', 'Amt': '67.70'},
 {'Date': '16 NOV', 'Txn Desc': 'DECATHLON SG LAB', 'Amt': '66.00'},
 {'Date': '16 NOV', 'Txn Desc': 'BANANA LEAF', 'Amt': '55.30'},
 {'Date': '20 NOV', 'Txn Desc': 'ZaloraSG', 'Amt': '-19.51'},
 {'Date': '20 NOV', 'Txn Desc': 'TENDON KOHAKU', 'Amt': '35.31'},
 {'Date': '20 NOV', 'Txn Desc': 'GRAB* S-26872624-8-462', 'Amt': '11.00'},
 {'Date': '20 NOV', 'Txn Desc': "MCDONALD'S (HG)", 'Amt': '3.20'},
 {'Date': '20 NOV', 'Txn Desc': "MCDONALD'S (HG)", 'Amt': '20.15'},
 {'Date': '22 NOV', 'Txn Desc': "MCDONALD'S (SHHG)", 'Amt': '7.20'},
 {'Date': '23 NOV', 'Txn Desc': 'NTUC FP-HOUGANG A', 'Amt': '11.65'},
 {'Date': '23 NOV', 'Txn Desc': 'ESSO-CHEERS BY FP', 'Amt': '45.00'},
 {'Date': '27 NOV', 'Txn Desc': 'ZALORASG', 'Amt': '95.73'},
 {'Date': '27 NOV', 'Txn Desc': 'LAZADA SINGAPORE', 'Amt': '55.20'},
 {'Date': '27 NOV', 'Txn Desc': 'OMOTE', 'Amt': '76.03'},
 {'Date': '27 NOV', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '3.84'},
 {'Date': '27 NOV', 'Txn Desc': 'SHOPEE SINGAPORE', 'Amt': '4.25'},
 {'Date': '28 NOV', 'Txn Desc': 'GRAB* A96461585C435436', 'Amt': '10.00'},
 {'Date': '29 NOV', 'Txn Desc': 'SPC 1351 ANG MO KIO AV', 'Amt': '8.50'},
 {'Date': '01 DEC', 'Txn Desc': 'GRAB* AD19385300C29104', 'Amt': '10.00'},
 {'Date': '02 DEC', 'Txn Desc': 'WOK HEY - CHINATOWN PO', 'Amt': '6.80'},
 {'Date': '03 DEC', 'Txn Desc': 'RAFFLES MEDICAL-HOUGAN', 'Amt': '27.20'},
 {'Date': '04 DEC', 'Txn Desc': 'GRUB', 'Amt': '58.85'},
 {'Date': '05 DEC', 'Txn Desc': 'FAIRPRICE XTRA-AMK', 'Amt': '59.65'},
 {'Date': '07 DEC', 'Txn Desc': 'NTUC FP-HOUGANG A', 'Amt': '12.20'},
 {'Date': '11 DEC', 'Txn Desc': 'GRAB* AD3DC9087F1FC0D3', 'Amt': '10.00'},
 {'Date': '11 DEC', 'Txn Desc': 'GRAB* 8BCF36C0940DD88F', 'Amt': '10.00'},
 {'Date': '12 DEC', 'Txn Desc': "WATSON'S", 'Amt': '1.60'},
 {'Date': '12 DEC', 'Txn Desc': 'CIRCL FOOD & BEVERAGE', 'Amt': '97.37'},
 {'Date': '14 DEC',
  'Txn Desc': '01LAZADA-DBS ONLINE IPP 06 (03)',
  'Amt': '153.16'},
 {'Date': '15 JUN', 'Txn Desc': 'GRAB *75F5BF65A71D43DA', 'Amt': '10.00'},
 {'Date': '16 JUN', 'Txn Desc': 'SHOPEEPAY', 'Amt': '16.69'},
 {'Date': '17 JUN', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '1.85'},
 {'Date': '19 JUN', 'Txn Desc': 'PAYPAL *TBB', 'Amt': '58.50'},
 {'Date': '24 JUN', 'Txn Desc': 'GRAB *B2268655FCC64C91', 'Amt': '20.00'},
 {'Date': '24 JUN', 'Txn Desc': 'SHOPEE - SINGAPORE', 'Amt': '2.58'},
 {'Date': '02 JUL', 'Txn Desc': 'LIBERTY WIRELESS PTE L', 'Amt': '38.00'},
 {'Date': '04 JUL', 'Txn Desc': 'KLOOK TRAVEL TECHNOLOG', 'Amt': '15.00'},
 {'Date': '06 JUL', 'Txn Desc': 'GRAB *F24A093F950A4451', 'Amt': '10.00'},
 {'Date': '08 JUL', 'Txn Desc': 'GRAB *DDACB7296B8940D6', 'Amt': '20.00'},
 {'Date': '08 JUL', 'Txn Desc': 'GRAB *222AA67AA50F463B', 'Amt': '10.00'},
 {'Date': '11 JUL', 'Txn Desc': 'GET IT BY CHANGI RECOM', 'Amt': '117.50'},
 {'Date': '13 JUL', 'Txn Desc': 'GRAB *B781106ED5B2475E', 'Amt': '20.00'},
 {'Date': '04 AUG',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP12)',
  'Amt': '-1,549.38'},
 {'Date': '08 AUG', 'Txn Desc': 'CR LATE CHARGE', 'Amt': '-100.00'},
 {'Date': '11 AUG', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-36.60'},
 {'Date': '17 JUL', 'Txn Desc': 'JOO SINGAPORE', 'Amt': '124.75'},
 {'Date': '21 JUL',
  'Txn Desc': 'KKH-SELF PAYMENT KIOSK 19SINGAPORE',
  'Amt': '254.66'},
 {'Date': '25 JUL',
  'Txn Desc': 'TWO MEN BAGELS- MM SINGAPORE',
  'Amt': '29.02'},
 {'Date': '29 JUL',
  'Txn Desc': 'THE DAILY CUT - ORP SINGAPORE',
  'Amt': '9.00'},
 {'Date': '30 JUL',
  'Txn Desc': 'NTUC FP - CHINATOWN PT SINGAPORE',
  'Amt': '11.80'},
 {'Date': '03 AUG', 'Txn Desc': 'LATE CHARGES', 'Amt': '100.00'},
 {'Date': '03 AUG', 'Txn Desc': 'OVERLIMIT FEE', 'Amt': '40.00'},
 {'Date': '09 AUG',
  'Txn Desc': 'Hanbaobao Pte. Ltd. SINGAPORE',
  'Amt': '35.30'},
 {'Date': '09 AUG', 'Txn Desc': 'GOMO MOBILE PLAN SINGAPORE', 'Amt': '30.00'},
 {'Date': '12 AUG', 'Txn Desc': 'INTERESTS', 'Amt': '45.27'},
 {'Date': '19 AUG',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP11)',
  'Amt': '-543.20'},
 {'Date': '01 SEP', 'Txn Desc': 'CR INTEREST', 'Amt': '-45.27'},
 {'Date': '01 SEP', 'Txn Desc': 'CR OVERLIMIT FEE', 'Amt': '-40.00'},
 {'Date': '11 SEP', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-1.48'},
 {'Date': '28 AUG', 'Txn Desc': 'BP-HONG JJA JANG SINGAPORE', 'Amt': '60.03'},
 {'Date': '29 AUG', 'Txn Desc': 'TANUKI RAW SINGAPORE', 'Amt': '56.40'},
 {'Date': '16 SEP',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP57)',
  'Amt': '-29.68'},
 {'Date': '10 OCT', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-0.35'},
 {'Date': '13 SEP', 'Txn Desc': 'GOMO MOBILE PLAN SINGAPORE', 'Amt': '30.00'},
 {'Date': '23 SEP',
  'Txn Desc': 'HAI DI LAO - MARINA SQ SINGAPORE',
  'Amt': '135.30'},
 {'Date': '30 SEP',
  'Txn Desc': 'CARD MEMBERSHIP FEE -INCLUSIVE OF GST',
  'Amt': '192.60'},
 {'Date': '01 APR',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP34)',
  'Amt': '-638.04'},
 {'Date': '09 APR', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-22.86'},
 {'Date': '12 MAR', 'Txn Desc': "WATSON'S SINGAPORE", 'Amt': '6.20'},
 {'Date': '13 MAR',
  'Txn Desc': 'GUARDIAN PLAZA SINGAPURA SINGAPORE',
  'Amt': '10.00'},
 {'Date': '13 MAR',
  'Txn Desc': 'LAZADA SINGAPORE (Paym SINGAPORE',
  'Amt': '314.09'},
 {'Date': '16 MAR', 'Txn Desc': 'GENKI SUSHI - CTP SG', 'Amt': '43.67'},
 {'Date': '16 MAR',
  'Txn Desc': 'LAZADA SINGAPORE (Paym SINGAPORE',
  'Amt': '21.99'},
 {'Date': '17 MAR',
  'Txn Desc': 'Hotel on Booking.com Amsterdam',
  'Amt': '152.17'},
 {'Date': '20 MAR', 'Txn Desc': 'URBAN SPA SINGAPORE', 'Amt': '20.00'},
 {'Date': '20 MAR', 'Txn Desc': 'LUCHA LOCO SINGAPORE', 'Amt': '67.09'},
 {'Date': '20 MAR',
  'Txn Desc': 'KORYO MART TANJONG PAGAR SINGAPORE',
  'Amt': '12.60'},
 {'Date': '21 MAR',
  'Txn Desc': 'COLD STORAGE HOUGANG SINGAPORE',
  'Amt': '13.07'},
 {'Date': '25 MAR', 'Txn Desc': "WATSON'S SINGAPORE", 'Amt': '10.20'},
 {'Date': '25 MAR',
  'Txn Desc': 'XIN WANG HK CAFE-HEARTLANSINGAPORE',
  'Amt': '41.43'},
 {'Date': '27 MAR', 'Txn Desc': 'Lazada Singapore', 'Amt': '126.25'},
 {'Date': '07 APR', 'Txn Desc': 'Lazada RedMart Singapore', 'Amt': '46.67'},
 {'Date': '28 APR',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP31)',
  'Amt': '-862.57'},
 {'Date': '11 MAY', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-6.70'},
 {'Date': '20 APR', 'Txn Desc': 'Lazada RedMart Singapore', 'Amt': '63.10'},
 {'Date': '28 APR', 'Txn Desc': 'Lazada RedMart Singapore', 'Amt': '43.83'},
 {'Date': '29 APR', 'Txn Desc': 'STRANGERS REUNION SINGAPORE', 'Amt': '54.46'},
 {'Date': '29 APR', 'Txn Desc': 'Lazada Singapore', 'Amt': '83.49'},
 {'Date': '08 MAY', 'Txn Desc': 'AMAZON RETAIL SINGAPORE', 'Amt': '79.33'},
 {'Date': '28 OCT',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP37)',
  'Amt': '-357.55'},
 {'Date': '28 OCT',
  'Txn Desc': 'CR CARD MEMBERSHIP FEE - INC OF GST',
  'Amt': '-192.60'},
 {'Date': '11 NOV', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-0.50'},
 {'Date': '13 OCT', 'Txn Desc': 'GOMO MOBILE PLAN SINGAPORE', 'Amt': '30.00'},
 {'Date': '24 JUN',
  'Txn Desc': 'PAYMT THRU E-BANK/HOMEB/CYBERB (EP21)',
  'Amt': '-115.93'},
 {'Date': '09 JUL', 'Txn Desc': 'UOB YOLO Cash Rebate', 'Amt': '-0.35'},

In [40]:
df_categorized_txns = pd.DataFrame(categorized_txns)
df_categorized_txns

       Date                            Txn Desc    Amt
0    13 AUG                  SHOPEE - SINGAPORE   5.68
1    14 AUG                 ISTANBLUE MEZE - MM  26.30
2    14 AUG               SULTANS OF SHAVE - DU  55.00
3    20 AUG              GRAB*8C6FE4E51A3D05ACE  20.00
4    21 AUG                    SHOPEE SINGAPORE   8.50
..      ...                                 ...    ...
352  04 JAN        MUJI @ ION ORCHARD SINGAPORE   8.20
353  06 JAN  UNIQLO TIONG BAHRU PLAZA SINGAPORE  29.90
354  06 JAN  TONGUE TIP LZ BEEF NOODLESINGAPORE  19.05
355  08 JAN                 FIVE GUYS SINGAPORE  51.00
356  10 JAN    KAI SUSHI & KOBATAYAKI SINGAPORE  38.37

[357 rows x 3 columns]

In [41]:
df_categorized_txns["Date"] = df_categorized_txns["Date"] + " 2020"
df_categorized_txns

            Date                            Txn Desc    Amt
0    13 AUG 2020                  SHOPEE - SINGAPORE   5.68
1    14 AUG 2020                 ISTANBLUE MEZE - MM  26.30
2    14 AUG 2020               SULTANS OF SHAVE - DU  55.00
3    20 AUG 2020              GRAB*8C6FE4E51A3D05ACE  20.00
4    21 AUG 2020                    SHOPEE SINGAPORE   8.50
..           ...                                 ...    ...
352  04 JAN 2020        MUJI @ ION ORCHARD SINGAPORE   8.20
353  06 JAN 2020  UNIQLO TIONG BAHRU PLAZA SINGAPORE  29.90
354  06 JAN 2020  TONGUE TIP LZ BEEF NOODLESINGAPORE  19.05
355  08 JAN 2020                 FIVE GUYS SINGAPORE  51.00
356  10 JAN 2020    KAI SUSHI & KOBATAYAKI SINGAPORE  38.37

[357 rows x 3 columns]

In [42]:
# Categorizing txns
shopping = re.compile(r'''.*Shopee(pay)?.*
                      |.*Lazada.*
                      |.*Zalora.*
                      |.*Uniqlo.*
                      |.*Asos.*
                      |.*Ghbass.*
                      |.*Decathlon.*
                      |.*Amazon.*
                      |.*Watson.*
                      |.*Guardian.*''', re.I | re.VERBOSE)
utilities = re.compile(r".*Liberty Wireless.*|.*Gomo.*", re.I)
holiday = re.compile(r".*Agoda*.|.*Scoot.*|.*Hotel.*", re.I)
grooming = re.compile(".*Sultans of shave.*", re.I)
entertainment = re.compile(r".*GV.*|.*Shaw.*", re.I)
others = re.compile(r".* Fee.*|.*Charge.*|.*Interest.*|.*Bank.*|.*Rebate.*", re.I)

In [45]:
def categorize_txns(s):
    if shopping.search(s["Txn Desc"]):  # None if there's no match
        return "Shopping"
    
    elif utilities.search(s["Txn Desc"]):
        return "Utilities"
    
    elif holiday.search(s["Txn Desc"]):
        return "Holiday"
    
    elif grooming.search(s["Txn Desc"]):
        return "Grooming"
    
    elif entertainment.search(s["Txn Desc"]):
        return "Entertainment"
    
    elif others.search(s["Txn Desc"]):
        return "Others"
    
    elif s["Date"] == "27 JUN 2020":
        return "Birthday"
    
    elif s["Date"] == "19 MAR 2020":
        return "Anniversary"
    
    else:
        return "Food"

In [46]:
df_categorized_txns["Category"] = df_categorized_txns.apply(categorize_txns, axis=1)

In [49]:
df_categorized_txns[df_categorized_txns["Date"] == "19 MAR 2020"]

Empty DataFrame
Columns: [Date, Txn Desc, Amt, Category]
Index: []

In [50]:
df_categorized_txns.to_csv(dest_csv / "2020 transactions.csv")